.ts_tip {
  .ts_tip_multiline_inner,
  &:not(.ts_tip_multiline) .ts_tip_tip {
    background: $color-shade-light;
  }

  .ts_tip_tip {
    color: $base-font-color;
  }

  &.ts_tip_left .ts_tip_tip::after {
    border-left-color: $color-shade-light;
  }

  &.ts_tip_right .ts_tip_tip::after {
    border-right-color: $color-shade-light;
  }

  &.ts_tip_top .ts_tip_tip::after {
    border-top-color: $color-shade-light;
  }

  &.ts_tip_bottom .ts_tip_tip::after {
    border-bottom-color: $color-shade-light;
  }

  &.success {
    .ts_tip_tip {
      background: $color-shade-lightest;
    }

    &.ts_tip_left .ts_tip_tip::after {
      border-left-color: $color-shade-lightest;
    }

    &.ts_tip_right .ts_tip_tip::after {
      border-right-color: $color-shade-lightest;
    }

    &.ts_tip_top .ts_tip_tip::after {
      border-top-color: $color-shade-lightest;
    }

    &.ts_tip_bottom .ts_tip_tip::after {
      border-bottom-color: $color-shade-lightest;
    }
  }
}

.tooltip-inner {
  background-color: $color-shade-lightest;
  color: $base-font-color;
}

.tooltip {
  &.top .tooltip-arrow,
  &.top-left .tooltip-arrow {
    border-top-color: $color-shade-lightest;
  }

  &.right .tooltip-arrow {
    border-right-color: $color-shade-lightest;
  }

  &.left .tooltip-arrow {
    border-left-color: $color-shade-lightest;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: $color-shade-lightest;
  }
}
