.menu_member_header {
  background: $color-shade-darkest;

  .member_details {
    .member_name_and_presence {
      color: $base-font-color;

      .member_name {
        color: $base-font-color;
      }

      .presence.away {
        color: $white;
      }
    }

    .member_title {
      color: $color-highlight;
    }

    .member_restriction,
    .member_timezone_value {
      color: $color-highlight;
    }

    .member_restriction a,
    .member_timezone_value a {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  .member_details_divider {
    border-color: $color-shade-light;
  }
}

.menu_member_footer {
  background: $color-shade-darkest;
  border-top: 1px solid $color-shade-light;

  p {
    color: $color-highlight;
  }

  #menu_member_dm_input p {
    color: $base-font-color;
  }
}

.member_meta {
  color: $base-link-color;
}
