.p-emoji_picker {
  background: $color-shade-darkest !important;
  color: $base-font-color !important;

  &[data-using-keyboard="true"] .p-emoji_picker__list_item {
    @for $i from 0 through 5 {
      &[data-color-index="#{$i}"].key_selection {
        background: transparentize(map-get($emoji-hover-colors, $i), 0.5);
      }
    }
  }

  &__list_item {
    text-shadow: 0 1px $color-shadow-light;

    @for $i from 0 through 5 {
      &[data-color-index="#{$i}"]:hover,
      &[data-color-index="#{$i}"].key_selection {
        background: transparentize(map-get($emoji-hover-colors, $i), 0.5);
      }
    }
  }

  &__heading,
  &__list_container,
  &__input_container {
    background: $color-base;
  }

  &__group_tabs {
    border-bottom-color: $color-shade-mid;
  }

  &__group_tab {
    color: $base-link-color;

    &:hover {
      background: $color-shade-dark;
      color: $base-link-color-active;
    }

    &--active {
      background: $color-shade-light;
      border-bottom-color: $color-shade-mid;
      color: $base-font-color;
    }
  }

  &__icon_search {
    color: $color-highlight;
  }

  &__content:hover .p-emoji_picker__skintone_btn_container {
    background: $color-base;
    border-color: $color-base;
  }

  &__skintone_options {
    background: $color-base;
  }

  &__tip,
  &__no_results {
    i {
      color: $color-highlight;
    }
  }

  &__tip {
    color: $base-font-color;
  }

  &__no_results {
    color: $color-highlight;
  }

  &__preview_text {
    background: $color-shade-darkest;
    color: $base-font-color;
  }

  &__footer {
    background: $color-shade-darkest;
    border-top-color: $color-shade-dark;

    .p-emoji_picker__heading {
      background: $color-shade-darkest;
    }
  }

  &__emoji_deluxe_label {
    color: $color-highlight;
  }
}

input[type="text"].p-emoji_picker__input {
  &:focus {
    border-color: $color-shade-light;
    box-shadow: none;
  }
}
