#emoji_menu {
  background: $color-shade-darkest;
  box-shadow: 0 2px 10px $color-shadow-dark;
  color: $base-font-color;

  #emoji_menu_items_scroller {
    background: $color-base !important;
  }

  h3 {
    background: rgba($color-base, 0.95);
  }

  #emoji_preview_text {
    background: $color-shade-darkest;
    color: $base-font-color;
  }

  #emoji_preview_deluxe {
    color: $base-font-color;
  }

  #emoji_menu_footer {
    background: $color-shade-darkest;
    border-top: 1px solid $color-shade-dark;
  }

  #emoji_menu_content:hover #emoji_skin_button_container {
    background: $color-shade-light;
    border: 1px solid $color-shade-dark;
  }

  #emoji_menu_header {
    background: $color-shade-darkest;
  }

  .emoji_li,
  &[data-using-keyboard=true] .emoji_li {
    @for $i from 0 through 5 {
      &[data-color-index="#{$i}"]:hover,
      &[data-color-index="#{$i}"].key_selection {
        background: transparentize(map-get($emoji-hover-colors, $i), 0.5);
      }
    }
  }

  a.emoji_grouping_tab {
    color: $base-link-color;

    &:hover {
      background: $color-shade-dark;
      color: $base-link-color-active;
    }

    &.active {
      background: $color-shade-light;
      border-bottom: 3px solid $color-shade-mid;
      color: $base-font-color;
    }
  }

  #monkey_scroll_wrapper_for_emoji_menu_items_scroller {
    background: $color-base;
  }

  #emoji_input:focus {
    border-color: $color-shade-light;
  }

  #emoji_skin_button,
  #emoji_skin_picker,
  #emoji_skin_tip {
    color: $color-highlight;
  }

  #emoji_skin_picker {
    background: $color-shade-darkest;

    > span[data-preferred=true] {
      background: $color-shade-dark;
    }
  }
}

.emoji_menu_ng #emoji_input_container {
  background: $color-base;
}

.emoji_li a {
  color: $base-link-color !important;
  text-shadow: 0 1px $color-shadow-light;
}

div {
  &#emoji_tip {
    color: $base-font-color;
  }

  &#emoji_zero_results {
    color: $color-highlight;
  }

  &#emoji_tip i,
  &#emoji_zero_results i {
    color: $color-highlight;
  }
}
