.pickmeup {
  background: $color-base;
  border: 1px solid $color-shade-dark;
  box-shadow: 0 1px 5px $color-shadow-light;

  .pmu-instance {
    .pmu-button {
      color: $base-font-color;
    }

    .pmu-today {
      &.pmu-selected,
      &:hover {
        background: $color-shade-dark !important;

        .pmu-today-border {
          background: $color-shade-lightest;
          color: $base-font-color !important;
        }
      }
    }

    .pmu-today-border {
      border: 2px solid $color-shade-light !important;
      color: $color-shade-lightest !important;
    }

    .pmu-button:not(.pmu-disabled):hover {
      background: $color-shade-light;
      color: $base-font-color;
    }

    .pmu-not-in-month {
      background: $color-base;
      color: $color-highlight;

      &.pmu-selected {
        background: $color-shade-light;
      }
    }

    .pmu-disabled {
      background: $color-base;
      color: $color-highlight;

      &:hover {
        background: $color-base;
        color: $color-highlight;
      }
    }

    .pmu-selected {
      background: $color-shade-light;
      color: $base-font-color;
    }

    nav {
      color: $base-link-color;

      :first-child :hover {
        color: $base-link-color-active;
      }
    }

    .pmu-months *,
    .pmu-years * {
      border: 1px solid $color-shade-dark;
    }

    .pmu-day-of-week {
      color: $base-font-color;

      * {
        border: 1px solid $color-shade-dark;
      }
    }

    .pmu-days * {
      border: 1px solid $color-shade-dark;
    }
  }
}

.p-block_kit_date_picker_calendar_wrapper {
  background: $color-shade-dark;
  border-color: $color-shade-light;
  color: $base-font-color;

  .c-calendar_view_header__title_btn {
    background: $color-shade-light;
    border-color: $color-shade-dark;
    color: $base-font-color;
  }

  .c-date_picker_calendar__date--disabled,
  .c-mini_calendar__month_button:disabled {
    background: $color-shade-light;
    color: $color-shade-lightest;
  }
}

#menu {
  &.date_picker {
    .pickmeup {
      .pmu-instance .pmu-button:not(.pmu-disabled):hover,
      .pmu-selected {
        background: $color-shade-light;
      }
    }

    li.date_picker_item {
      a {
        color: $base-font-color;

        &:hover {
          color: $base-font-color;
        }
      }

      &.highlighted a {
        color: $color-highlight;
      }
    }
  }
}
