#menu.file_menu {
  box-shadow: 0 3px 8px $color-shadow-dark;

  ul li.highlighted,
  &:not(.keyboard_active) ul li:hover:not(.disabled) {
    background: $color-shade-darkest;

    > a {
      color: $base-link-color-active;
    }

    i.file_menu_icon {
      color: $base-font-color;
    }
  }

  ul li {
    > a {
      color: $base-link-color;
    }

    i.file_menu_icon {
      color: $color-highlight;
    }
  }
}
