#dms_filter,
#dms_filter_show_all,
#file_member_filter {
  background: $color-shade-darkest;
}

#client-ui {
  .member_filter {
    border: 1px solid $color-shade-light;
  }

  #team_list_container #team_filter {
    .member_filter {
      border-left: 1px solid $color-shade-darkest;
    }
  }

  #dms_filter .member_filter,
  #file_member_filter .member_filter {
    border-color: $color-shade-light;
  }

  #file_member_filter {
    border-color: $color-shade-light;
  }

  #dms_filter .member_filter:focus {
    border-color: $color-shade-light;
  }

  .team_tabs_container {
    border-bottom: 1px solid $color-shade-darkest;
  }
}

#team_filter {
  .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}
