#flex_menu_footer.menu_footer {
  background: $color-base !important;
}

#flex_menu_header.menu_simple_header {
  background: $color-base !important;
}

#menu {
  &.flex_menu {
    background-color: $color-base;
    box-shadow: 0 0 1px $color-shadow-light, 0 2px 8px $color-shadow-medium;
  }

  .flexpane_menu_item {
    a {
      color: $base-link-color;
    }

    &.highlighted a {
      background: $color-shade-lightest;
      border-bottom-color: $color-shade-light;
      color: $base-link-color-active;
      text-shadow: 0 1px 0 $color-shadow-light;
    }
  }

  &:not(.keyboard_active) .flexpane_menu_item:hover a {
    background: $color-shade-light;
    border-bottom-color: $color-shade-light;
    color: $base-link-color-active;
    text-shadow: 0 1px 0 $color-shadow-light;
  }
}
