.tab_complete_ui {
  background: $color-base;
  border: 1px solid $color-shade-dark;
  box-shadow: 0 1px 15px $color-shadow-dark;

  .tab_complete_ui_header {
    background: padding-box $color-shade-darkest;
    border-bottom: 1px solid $color-shade-dark;
    color: $base-font-color;
    text-shadow: 0 1px $color-shadow-light;
  }

  ul {
    &.type_emoji li {
      color: $base-font-color;
    }

    &.type_members {
      .broadcast_info,
      .realname {
        color: $base-font-color;
      }

      .unify_broadcast {
        color: $base-font-color;

        .ts_icon_broadcast {
          color: $color-highlight;
        }
      }
    }

    &.type_cmds {
      li {
        &.tab_complete_ui_group {
          .group_name {
            color: $base-font-color !important;
          }

          .group_divider {
            border-bottom: 0;
            border-top-color: $color-shade-dark;
          }
        }

        &.tab_complete_ui_item {
          .cmd-left-td,
          .cmd-right-td {
            color: $color-highlight;
          }
        }
      }

      .cmdname {
        color: $base-font-color;
      }

      .cmddesc {
        color: $color-highlight;
      }
    }
  }

  li.tab_complete_ui_item,
  li.tab_complete_ui_group {
    border-bottom: 1px solid $color-shade-dark;

    &.active {
      background: $color-shade-light;
      border-bottom-color: $color-shade-dark;
      text-shadow: 0 1px $color-shadow-light;

      span {
        color: $base-font-color !important;
      }
    }
  }

  .not_in_channel {
    color: $color-highlight;
  }
}
