#team_menu {
  background: $color-shade-dark;
  border-bottom: 2px solid $color-shade-dark;
  color: $base-font-color;

  &.active,
  &:hover {
    background: $color-shade-dark;
    border-bottom-color: $color-shade-dark;

    i {
      color: $base-font-color;
    }

    #current_user_name {
      color: $base-font-color;
    }
  }

  i {
    color: $color-highlight;
  }

  .presence {
    .presence_icon {
      text-shadow: 0 1px 1px $color-shadow-light;
    }
  }
}

#team_header_user_name {
  color: $color-highlight;
}

#menu.team_menu {
  box-shadow: 0 3px 8px $color-shadow-medium;

  ul li.highlighted,
  &:not(.keyboard_active) ul li:hover {
    > a {
      background: $color-shade-light;
      color: $base-link-color-active;
    }
  }

  ul li > a {
    color: $base-link-color;
  }
}

#im-list li.member.active .presence,
#starred-list li.member.active .presence {
  color: $base-font-color;

  &.away {
    color: $color-highlight;
    text-shadow: 1px 1px $color-shadow-light;
  }
}

.slack_menu_section::before {
  border-top: 1px solid $color-shade-light;
}

.slack_menu_header_secondary {
  color: $color-highlight;
}
