#banner {
  background: $color-shade-darkest;

  a {
    color: $base-link-color;
  }
}

.banner_content {
  color: $base-font-color;
  text-shadow: 0 1px 1px $color-shadow-light;
}

#notifications_banner {
  background: $color-shade-darkest;
}

#banner:hover #notifications_banner {
  background: $color-shade-darkest;
}

#notifications_dismiss_banner {
  background: $color-shade-darkest;
}

#macssb1_banner,
#macssb1_dismiss_banner,
#winssb1_banner,
#winssb1_dismiss_banner {
  background: $color-shade-darkest;
}
