.day_divider {
  background: $color-base;
  color: $color-highlight;

  hr {
    border-bottom: 0;
    border-top: 1px solid $color-shade-dark;
  }

  .day_divider_label {
    background: $color-base;
  }
}

.day_container {
  .day_msgs {
    border-top: 1px solid $color-shade-dark;
  }

  &.unread_day_container .day_msgs {
    border-color: $color-shade-lightest;
  }

  .day_divider {
    background: none;
    color: $color-highlight;

    .day_divider_label {
      background: $color-base;
    }
  }
}
