#client_header {
  .search_form {
    .icon_search {
      color: $color-highlight;
    }

    .icon_close {
      color: $base-link-color;
    }

    .search_input {
      background: $color-shade-dark !important;
      border: 1px solid $color-shade-light;

      &:hover {
        border: 1px solid $color-shade-lightest;
      }

      &:focus {
        border-color: $color-shade-light;
      }
    }
  }

  .channel_header {
    #search_container {
      .search_form:hover .search_input {
        border: 1px solid $color-shade-light;
      }

      .search_form .search_clear_icon .ts_icon_times_circle {
        color: $color-highlight;
      }
    }

    #header_search_form {
      #search_spinner {
        color: $base-font-color;
      }

      &.search_form .icon_search {
        color: $color-highlight;
        z-index: 2;
      }
    }
  }
}

#team_filter {
  .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

#client-ui {
  .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}
