.search_form:hover {
  border-color: $color-shade-light;
}

.search_focused .search_form {
  border-color: $color-shade-light;
}

.search_clear_icon .ts_icon_times_circle {
  color: $color-highlight;
}

#search_spinner {
  color: $base-font-color;
}

#search_container {
  .search_input {
    background: transparent;
  }

  .icon_search {
    color: $color-highlight;
  }

  .icon_close {
    color: $base-link-color;
  }
}

#team_filter {
  .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

#client-ui {
  .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}
