.search_form {
  border-color: $color-shade-light;

  .search_input {
    background: transparent;
  }

  &:hover {
    border-color: $color-shade-lightest;
  }
}

.search_focused .search_form {
  border-color: $color-shade-lightest;
}

.search_clear_icon .ts_icon_times_circle {
  color: $color-highlight;
}

#search_spinner {
  color: $base-font-color;
}

#search_container {
  .search_input {
    background: transparent;
  }

  .icon_search {
    color: $color-highlight;
  }

  .icon_close {
    color: $base-link-color;
  }
}

#team_filter,
#user_group_filter,
.searchable_member_list_search_bar {
  .icon_search,
  .ts_icon_spinner {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

.c-search_modal,
.c-search_modal:not(.c-search_modal--primarysearch) {
  .popover>div,
  .c-search__input_box {
    background: $color-shade-dark;
    border-color: $color-shade-light;
    color: $base-font-color;
  }
}

.c-search_autocomplete footer {
  background: $color-shade-dark;
  border-color: $color-shade-light;
  color: $base-font-color;
}

.c-search_autocomplete__suggestion_item {
  color: $base-font-color;

  &--selected {
    background-color: $color-shade-mid;
  }

   .token {
     background-color: $color-shade-darker;
     color: $base-font-color;
   }
}

.c-search__input_and_close {
  border-bottom-color: $color-shade-darkest;
}
