.inline_edit {
  .inline_edit_inner {
    &::before {
      background: $color-shade-dark;
      border: 1px solid $color-shade-light;
      box-shadow: 0 1px 1px 0 $color-shadow-dark;
    }

    &::after {
      color: $base-font-color;
    }
  }

  &.inline_edit_success .inline_edit_inner::after {
    color: adjust-hue($color-red, 180);
  }

  &.inline_edit_error .inline_edit_inner::after {
    color: $color-red;
  }

  &.inline_edit_editing .inline_edit_inner {
    &::before {
      border-color: $color-shade-darkest;
      box-shadow: none;
    }

    &::after {
      color: $color-highlight;
    }
  }
}
