.c-message_attachment {
  color: $base-font-color;

  &__border {
    background-color: $color-shade-light;
  }

  &__delete {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  &__pretext {
    color: $base-font-color;
  }

  &__part + .c-message_attachment__part::before {
    color: $color-shade-light;
  }

  &__author
  &__autor--distinct {
    color: $base-link-color;
  }

  &__author_link + .c-message_attachment__author_link {
    color: $base-link-color;
  }

  &__title_link span {
    color: $base-font-color;
  }

  &__text_expander {
    color: $base-link-color;
  }

  &__footer {
    color: $base-link-color;
  }

  &__image,
  &__thumb,
  &__video_thumb {
    box-shadow: 0 0 0 1px  rgba($color-shade-darkest, 0.1) inset;
  }

  &__video_html {
    background-color: rgba($color-base, 0.4);
  }

  &__video_buttons {
    background: rgba($color-shade-darkest, 0.4);
  }

  &__video_link:visited,
  &__video_link:link {
    color: $base-font-color;
  }

  &__video_play,
  &__video_link {
    color: $base-font-color;
    text-shadow: 0 1px 1px  rgba($color-shade-darkest, 0.5);
  }

  &__video_play:hover,
  &__video_link:hover {
    color: $base-font-color;
  }

  &__media_trigger .c-expandable_trigger {
    color: $base-link-color;
  }

  &__media_trigger--too_large {
    color: $base-link-color;
  }

  &__select {
    border-color: $color-shade-darkest;

    &:hover,
    &:active {
      border-color: $color-shade-light;
    }
  }
}

.c-message {
  &__reply_bar {
    &:hover,
    &--focus {
      background-color: $color-base;
      border-color: $color-shade-darkest;

      .c-message__reply_bar_arrow {
        color: $color-highlight;
      }

      .c-message__reply_bar_view_thread {
        background-color: $color-shade-light;
      }
    }
  }

  &__reply_bar_description {
    color: $color-highlight;
  }

  &__file_meta {
    color: $color-highlight;
  }

  &__image_container {
    background: rgba($color-shade-darkest, 0.1);
  }

  &__image_wrapper {
    &:after {
      border-color: transparent;
    }
  }
}

.attachment_group {
  &.has_container {
    background: $color-base;
    border: 1px solid $color-shade-dark;

    .inline_attachment::after {
      background-color: $color-shade-dark;
    }

    &.has_link:hover {
      border-bottom-color: $color-shade-dark;
      border-left-color: $color-shade-dark;
      border-right-color: $color-shade-dark;
      box-shadow: 0 1px 1px $color-shadow-light;
    }
  }

  .media_caret {
    color: $color-highlight;
  }

  .attachment_source {
    span {
      color: $color-highlight !important;
    }

    .attachment_source_name + .attachment_author_name::before {
      color: $color-highlight;
    }
  }

  .inline_attachment.reply_broadcast + .attachment_rule {
    color: $color-highlight;

    &::after {
      border-bottom: 1px solid $color-shade-dark;
    }
  }

  .inline_attachment.message_unfurl .attachment_source .attachment_source_name {
    a,
    span {
      color: $color-highlight;
    }
  }

  .attachment_title a {
    color: $base-font-color;
  }

  .attachment_footer_text + .attachment_ts::before {
    color: $color-highlight;
  }

  .delete_attachment_link {
    ts-icon::before {
      color: $base-link-color;
    }

    &:hover ts-icon::before {
      color: $base-link-color-active;
    }
  }
}

.attachment_still_pending ts-inline-saver {
  color: $color-highlight;
}

.msg_inline_attachment_column.column_border {
  background-color: $color-shade-light;
}

.msg_inline_img_holder .msg_inline_img {
  box-shadow: inset 0 0 0 1px $color-shade-darkest;
}

.msg_inline_attachment_collapser,
.msg_inline_attachment_expander,
.msg_inline_img_collapser,
.msg_inline_img_expander,
.msg_inline_media_toggler,
.msg_inline_room_preview_collapser,
.msg_inline_room_preview_expander {
  color: $base-link-color;

  &:hover {
    color: $base-link-color-active;
  }
}

.msg_inline_img {
  background: $color-shade-light;
}

.msg_inline_room_preview_collapser {
  color: $color-highlight;

  &:hover {
    color: $color-highlight;
  }
}

.inline_attachment {
  span {
    &.attachment_author_name {
      color: $base-link-color;
    }

    &.attachment_author_subname,
    &.attachment_service_name {
      color: $base-link-color;
    }
  }

  a span {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .attachment_footer,
  .attachment_ts {
    color: $base-link-color;

    a {
      color: $base-link-color;
    }
  }

  .attachment_footer a {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .attachment_ts a {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .iframe_placeholder,
  iframe {
    background-color: $color-shade-darkest;
  }
}

.meta,
.dense_meta {
  &.msg_inline_file_preview_toggler,
  &.msg_inline_img_toggler {
    color: $base-link-color !important;

    a[data-file-id] {
      color: $base-link-color !important;
    }

    &:hover {
      color: $base-link-color-active !important;

      a[data-file-id] {
        color: $base-link-color-active !important;
      }
    }

    .msg_inline_file_preview_title {
      color: $base-font-color;

      &:hover {
        color: $color-highlight;
      }
    }

    .ts_icon.msg_inline_media_toggler:hover {
      color: $base-link-color-active !important;
    }
  }

  &.meta_feature_fix_files {
    .file_new_window_link:hover {
      color: $base-link-color-active !important;

      .file_inline_icon {
        color: $base-link-color-active !important;
      }
    }

    .member {
      color: $base-link-color !important;
    }
  }
}

.delete_attachment_link {
  color: $base-link-color;
}

.delete_attachment_link:hover {
  color: $base-link-color-active;
}

.file_container,
.c-file_container {
  background: $color-shade-darkest;
  border: 1px solid $color-shade-dark;
  color: $base-font-color;

  &:hover,
  &:focus,
  &.file_menu_open {
    border-bottom-color: $color-shade-dark;
    border-left-color: $color-shade-dark;
    border-right-color: $color-shade-dark;
  }

  &::after,
  &.post_container::after {
    background-image: -webkit-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: -moz-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: -o-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
  }

  &.generic_container {
    .file_header_icon .ts_icon {
      background: $color-base;
      box-shadow: 0 0 0 3px $color-base;
      color: $base-font-color;

      &.snippet {
        background: $color-shade-dark;
      }
    }

    .file_header_meta .meta_hover {
      background: $color-shade-darkest;
      color: $base-font-color;
    }
  }

  .file_header .file_header_meta {
    color: $color-highlight;
  }

  .file_header + .file_body {
    border-top: 1px solid $color-shade-darkest;
  }

  .preview_actions .btn {
    background-color: $color-shade-dark;
    color: $base-font-color !important;

    &::after {
      border-color: $color-shade-darkest;
    }

    &.preview_show_less_header {
      background-color: rgba($color-shade-lightest, 0.9);
      color: $base-font-color !important;

      &::after {
        border: 2px solid $color-shade-darkest;
      }

      &:focus,
      &:hover {
        background-color: $color-shade-dark;

        &::after {
          border-color: $color-shade-dark;
        }
      }
    }
  }

  &.image_container {
    .image_body {
      background-color: $color-base;
    }

    .preview_actions {
      .btn {
        background-color: rgba($color-shade-lightest, 0.9);

        &:focus,
        &:hover {
          background-color: $color-shade-dark;
        }
      }

      &.overflow_preview_actions {
        background: rgba($color-shade-lightest, 0.9);
        border: 1px solid rgba($color-shade-darkest, 0.1);
      }
    }
  }

  .preview_show .preview_show_btn {
    background: linear-gradient(rgba($color-shade-light, 0.8), rgba($color-shade-light, 0.8)), linear-gradient(rgba($color-shade-lightest, 0.3), rgba($color-shade-lightest, 0.3));
    color: $base-font-color;
  }

  &.file_menu_open,
  &:focus,
  &:hover {
    .preview_show_less .preview_show_btn {
      background: rgba($color-shade-light, 0.8);
      color: $base-font-color;
    }
  }

  .c-file__title {
    color: $base-font-color;
  }
}

.c-file_container--has_thumb {
  .c-file {
    &__actions::before {
      background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), $color-shade-darkest 20px);
    }
  }
}

.message--focus .file_container .preview_show.preview_show_less .preview_show_btn {
  background: $color-shade-light;
  color: $base-font-color;
}

.msg_inline_video_buttons_div {
  background-color: rgba($color-base, 0.4);

  a {
    color: $base-font-color;
    text-shadow: 0 1px 1px rgba($color-shade-darkest, 0.5);

    &:visited {
      color: $base-font-color;
      text-shadow: 0 1px 1px rgba($color-shade-darkest, 0.5);
    }
  }
}

.post_body {
  ul {
    &.checklist {
      background-color: $color-shade-dark;

      li {
        &::before {
          background: $color-shade-dark;
        }

        &.checked {
          color: $color-highlight;
        }
      }
    }

    &.list.checklist {
      li {
        border-bottom: 1px solid $color-shade-light;

        &.checked {
          color: $color-highlight;
        }
      }
    }
  }

  .message {
    background-color: $base-font-color;
  }

  code,
  pre {
    background: $color-shade-dark;
  }
}

ts-message .reply_bar {
  .reply_bar_caret,
  .view_conv_hover,
  .last_reply_at {
    color: $color-highlight;
  }

  &:hover {
    background: $color-base;
    border-color: $color-shade-darkest;
  }
}

.inline_color_block {
  border-color: $color-shade-light;
}
