.msg_inline_img_holder .msg_inline_img {
  box-shadow: inset 0 0 0 1px $color-shade-darkest;
}

.msg_inline_attachment_collapser,
.msg_inline_attachment_expander,
.msg_inline_email_collapser,
.msg_inline_email_expander,
.msg_inline_file_preview_collapser,
.msg_inline_file_preview_expander,
.msg_inline_img_collapser,
.msg_inline_img_expander,
.msg_inline_media_toggler,
.msg_inline_room_preview_collapser,
.msg_inline_room_preview_expander {
  color: $base-link-color;

  &:hover {
    color: $base-link-color-active;
  }
}

.msg_inline_img {
  background: $color-shade-light;
}

.msg_inline_room_preview_collapser {
  color: $color-highlight;

  &:hover {
    color: $color-highlight;
  }
}

.msg_inline_file_preview_collapser.title_hidden {
  color: $color-highlight;
}

.inline_attachment {
  span {
    &.attachment_author_name {
      color: $base-link-color;
    }

    &.attachment_author_subname,
    &.attachment_service_name {
      color: $base-link-color;
    }
  }

  a span {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .attachment_footer,
  .attachment_ts {
    color: $base-link-color;

    a {
      color: $base-link-color;
    }
  }

  .attachment_footer a {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .attachment_ts a {
    &:active,
    &:hover {
      color: $base-link-color-active !important;
    }
  }

  .iframe_placeholder,
  iframe {
    background-color: $color-shade-darkest;
  }
}

.meta,
.dense_meta {
  &.msg_inline_file_preview_toggler,
  &.msg_inline_img_toggler {
    color: $base-link-color !important;

    a[data-file-id] {
      color: $base-link-color !important;
    }

    &:hover {
      color: $base-link-color-active !important;

      a[data-file-id] {
        color: $base-link-color-active !important;
      }
    }

    .msg_inline_file_preview_title {
      color: $base-font-color;

      &:hover {
        color: $color-highlight;
      }
    }

    .ts_icon[class*=ts_icon_caret]:hover {
      color: $base-link-color-active;
    }
  }

  &.meta_feature_fix_files {
    .file_new_window_link:hover {
      color: $base-link-color-active !important;

      .file_inline_icon {
        color: $base-link-color-active !important;
      }
    }

    .member {
      color: $base-link-color !important;
    }
  }
}

.delete_attachment_link {
  color: $base-link-color;
}

.delete_attachment_link:hover {
  color: $base-link-color-active;
}

.file_container {
  background: $color-shade-darkest;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;

  &::after,
  &.post_container::after {
    background-image: -webkit-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: -moz-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: -o-linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
    background-image: linear-gradient(top, rgba($color-base, 0) 0, $color-base 100%);
  }

  &.generic_container {
    .file_header_icon .ts_icon {
      background: $color-base;
      box-shadow: 0 0 0 3px $color-base;
      color: $base-font-color;

      &.snippet {
        background: $color-shade-dark;
      }
    }

    .file_header_meta .meta_hover {
      background: $color-shade-darkest;
      color: $base-font-color;
    }
  }

  .file_header .file_header_meta {
    color: $color-highlight;
  }

  .file_header + .file_body {
    border-top: 1px solid $color-shade-darkest;
  }

  .preview_actions .btn {
    background-color: $color-shade-dark;

    &::after {
      border-color: $color-shade-darkest;
    }

    &.preview_show_less_header {
      background-color: rgba($color-shade-lightest, 0.9);
      color: $base-font-color !important;

      &::after {
        border: 2px solid $color-shade-darkest;
      }

      &:focus,
      &:hover {
        background-color: $color-shade-dark;

        &::after {
          border-color: $color-shade-dark;
        }
      }
    }
  }

  &.image_container {
    .image_body {
      background-color: $color-base;
    }

    .preview_actions {
      .btn {
        background-color: rgba($color-shade-lightest, 0.9);

        &:focus,
        &:hover {
          background-color: $color-shade-dark;
        }
      }

      &.overflow_preview_actions {
        background: rgba($color-shade-lightest, 0.9);
        border: 1px solid rgba($color-shade-darkest, 0.1);
      }
    }
  }

  .preview_show .preview_show_btn {
    background: linear-gradient(rgba($color-shade-darkest, 0.8), rgba($color-shade-darkest, 0.8)), linear-gradient(rgba($color-shade-lightest, 0.3), rgba($color-shade-lightest, 0.3));
    color: $base-link-color;
  }
}

.msg_inline_video_buttons_div {
  background-color: rgba($color-base, 0.4);

  a {
    color: $base-font-color;
    text-shadow: 0 1px 1px rgba($color-shade-darkest, 0.5);

    &:visited {
      color: $base-font-color;
      text-shadow: 0 1px 1px rgba($color-shade-darkest, 0.5);
    }
  }
}

body:not(.feature_new_message_markup) .meta {
  &.msg_inline_file_preview_toggler,
  &.msg_inline_img_toggler {
    a,
    .member,
    .service_link {
      color: $base-link-color !important;
    }
  }
}

.post_body {
  ul {
    &.checklist {
      background-color: $color-shade-dark;

      li {
        &::before {
          background: $color-shade-dark;
        }

        &.checked {
          color: $color-highlight;
        }
      }
    }

    &.list.checklist {
      li {
        border-bottom: 1px solid $color-shade-light;

        &.checked {
          color: $color-highlight;
        }
      }
    }
  }

  .message {
    background-color: $base-font-color;
  }

  code,
  pre {
    background: $color-shade-dark;
  }
}
