.messages_banner {
  color: $base-font-color;
  text-shadow: 0 1px $color-shadow-light;

  a {
    color: $base-font-color;

    &:hover {
      color: $base-font-color;
    }
  }
}

#connection_div {
  background: $color-red;
}

#archives_return {
  background: padding-box $color-shade-lightest;
  color: $base-font-color;

  &.warning {
    background: $color-red;
  }

  a {
    color: $base-font-color;

    &:hover {
      color: rgba($base-font-color, 0.8);
    }
  }
}

#messages_unread_status {
  background: $color-shade-light;

  &:hover {
    background: $color-shade-lightest;

    .clear_unread_messages {
      background: $color-shade-lightest;

      &:hover {
        background: $color-shade-light;
      }
    }
  }

  &.quiet {
    background: $color-shade-lightest;
    color: $base-font-color;
    text-shadow: 0 1px $color-shadow-light;

    a {
      color: $base-font-color;
    }
  }
}

.clear_unread_messages {
  border-left: 1px solid $color-shadow-light;
}

#messages_container {
  &.has_reply_banners.has_top_messages_banner #reply_banners::after,
  &:not(.has_reply_banners).has_top_messages_banner::before,
  &.has_top_messages_banner::before {
    background: none;
  }
}
