.messages_banner {
  color: $base-font-color;
  text-shadow: 0 1px $color-shadow-light;

  a {
    color: $base-font-color;

    &:hover {
      color: $base-font-color;
    }
  }
}

#connection_div {
  background: $color-red;
}

#archives_return {
  background: padding-box $color-shade-lightest;
  color: $base-font-color;

  &.warning {
    background: $color-red;
  }

  a {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

#messages_unread_status {
  background: $color-shade-light;

  &.quiet,
  &.quiet.header_refresh {
    background: $color-shade-lightest;
    color: $base-font-color;
    text-shadow: 0 1px $color-shadow-light;

    a {
      color: $base-font-color;
    }
  }

  &.header_refresh {
    background: $color-shade-light;

    &:hover {
      background: $color-shade-lightest;

      .clear_unread_messages {
        background: $color-shade-lightest;
      }
    }

    .clear_unread_messages:hover {
      background: $color-shade-lightest;
    }
  }
}

.header_refresh .clear_unread_messages {
  border-left: 1px solid $color-shadow-light;
}

#messages_container.header_refresh.has_top_messages_banner::before {
  background: $color-base;
}
