#msgs_overlay_div {
  background: $color-base;
}

ts-message {
  color: $base-font-color;

  &.active:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply),
  &:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply) {
    background: rgba($color-shade-darkest, 0.1);

    &.is_pinned {
      background: rgba($color-shade-darkest, 0.2);
    }
  }

  &.is_pinned {
    background: rgba($color-shade-darkest, 0.15);
  }

  .timestamp {
    color: $base-link-color;
  }

  .edited,
  .temp_msg_controls {
    color: $color-highlight;
  }

  .only_visible_to_user {
    color: $color-highlight;
  }

  &.ephemeral {
    color: $base-font-color;
  }

  .bot_label {
    background: $color-shade-darkest;
    color: $color-highlight;
  }

  .in_reply_to {
    background: $color-shade-darkest;
    color: $color-highlight;
  }

  &.standalone:not(.for_mention_display):not(.for_search_display):not(.for_star_display) {
    border: 1px solid $color-shade-light;
  }

  &.unprocessed {
    color: rgba($base-font-color, 0.75);
  }

  &.highlight {
    background: rgba($color-red, 0.4);

    &:hover {
      background: rgba($color-red, 0.4);
    }
  }

  &.delete_mode,
  &.multi_delete_mode {
    background: rgba($color-red, 0.75);
  }

  &.automated .message_body {
    color: rgba($base-font-color, 0.8);
  }

  .action_hover_container,
  .message_actions_container message_actions {
    border: 1px solid $color-base;

    &:hover {
      border-color: $color-shade-light;
      box-shadow: 0 1px 1px $color-shadow-medium;

      a {
        background: $color-shade-dark;
        border-right: 1px solid $color-shade-light;
      }
    }

    a {
      background: $color-base;
      border-right: 1px solid $color-base;
      color: $base-link-color;

      &:hover {
        color: $base-link-color;
      }

      &.active,
      &:active {
        background: $color-shade-dark;
        color: $base-link-color-active;
      }
    }
  }

  &.selected {
    background: $color-base;

    &:not(.delete_mode) {
      background: $color-base;
    }

    &:hover {
      background: $color-shadow-light;
    }
  }

  .meta {
    color: $color-highlight;

    &.msg_inline_img_toggler,
    &.msg_inline_file_preview_toggler {
      .member,
      .service_link {
        color: $base-link-color !important;
      }

      .ts_icon_dropbox,
      a {
        color: $color-highlight !important;
      }
    }
  }

  .pinned_item_message_header {
    color: $color-highlight;
  }

  .mention {
    background: $color-shade-light;
    border: 1px solid $color-shade-lightest;
    border-radius: 3px;
    color: $base-font-color;
    padding: 0 3px;
  }

  a .mention {
    color: $base-font-color;
  }
}

.selecting_messages ts-message.multi_delete_mode:hover {
  background: rgba($color-red, 0.75);
}

.selecting_messages ts-message:hover {
  background: $color-shade-darkest;
}

#conversation_container {
  background-color: rgba($color-shade-dark, 0.85);

  #message_edit_container {
    border-bottom: 1px solid $color-shade-light;
    border-top: 1px solid $color-shade-light;
  }

  .more_messages {
    background: $color-shade-light;
  }

  .more_messages_container .more_messages {
    color: $color-highlight;
  }

  ts-conversation {
    &::after {
      background: rgba($color-shade-darkest, 0.08);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(1, rgba($color-shade-darkest, 0.08)));
      background: -moz-linear-gradient(center bottom, transparent 0, rgba($color-shade-darkest, 0.08) 100%);
    }

    &::before {
      background: transparent;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba($color-shade-darkest, 0.08)), color-stop(1, transparent));
      background: -moz-linear-gradient(center bottom, rgba($color-shade-darkest, 0.08) 0, transparent 100%);
    }

    ts-message {
      &.selected {
        background: $color-shade-light;
      }
    }

    ts-relatives {
      &::after {
        background: $color-shade-light;
      }

      ts-message {
        &.deleted {
          .message_icon i {
            background-color: $color-shade-light;
            color: $color-highlight;
          }

          .message_content {
            color: $base-font-color;
          }
        }

        &:not(.selected):not(.highlight):not(.delete_mode) {
          background-color: rgba($color-red, 0.5);

          &.new {
            background-color: rgba($color-red, 0.75);
          }
        }
      }
    }
  }
}

#msg_input_overlay {
  background: $color-base;

  #close_conversation {
    background: rgba($black, 0.8);
    color: $color-highlight;
  }
}

#msgs_div {
  .unread_divider {
    hr {
      border-top: 1px solid $color-red;
    }

    .divider_label {
      background: $color-base;
      color: $color-red;
    }

    &.no_unreads {
      hr {
        border-top-color: $color-shade-dark;
      }

      .divider_label {
        color: $color-highlight;
      }
    }

    &.adjacent_to_date {
      background: $color-base;
    }
  }

  ts-message.automated_grey {
    background: $color-shade-darkest;

    .timestamp {
      color: $base-link-color;
    }

    &:hover .timestamp {
      color: $base-link-color-active;
    }
  }
}

.channel_archive_messages.card .col:first-child {
  border-right: 1px solid $color-shade-light;
}

.star {
  color: $color-highlight;
}

.star_item {
  border-bottom: 1px solid $color-shade-darkest;

  .star_meta {
    color: $color-highlight;
  }
}

.bot_message .message_sender {
  color: $base-font-color;

  a {
    color: $base-font-color;
  }
}

.color_USLACKBOT:not(.nuc),
#col_channels ul li:not(.active):not(.away) > .color_USLACKBOT:not(.nuc),
#col_channels:not(.show_presence) ul li > .color_USLACKBOT:not(.nuc) {
  color: $base-font-color;
}

#msgs_scroller_div #end_display_div {
  #end_display_status {
    color: $color-highlight;
  }

  #end_display_meta {
    color: $color-highlight;

    h1 {
      color: $base-font-color;
    }
  }

  p {
    color: $base-font-color;
  }
}

.member_mentions_options {
  background-color: $color-shade-darkest;
  border-top: 1px solid $color-shade-dark;
}

.dm_badge {
  .dm_badge_meta {
    color: $base-font-color;
  }

  a {
    color: $base-link-color;

    &.member_preview_link {
      color: $base-link-color;
    }
  }

  .dm_badge:hover a {
    color: $base-link-color;
  }

  .hint {
    color: $color-highlight;
  }
}

.is_limited_div {
  background-color: $color-base !important;

  &.mini {
    color: $color-highlight !important;
  }
}

#message_edit_container,
.inline_message_input_container {
  form textarea {
    color: $base-font-color;
  }
}
