.sssh-variable {
  color: adjust-hue($color-red, 90%);
}

.sssh-operator,
.sssh-property {
  color: adjust-hue($color-red, 180%);
}

.sssh-meta {
  color: $white;
}

.sssh-qualifier {
  color: $white;
}
