.light_theme {
  .message {
    color: $base-font-color;
    font-family: $base-font-family;

    &.unprocessed {
      color: rgba($base-font-color, 0.75);
    }

    .timestamp {
      color: $base-link-color;
    }

    .msg_right_link {
      color: $base-link-color;
    }

    &.archived .message_content,
    &.bot_change .message_content,
    &.joined .message_content,
    &.left .message_content,
    &.purpose .message_content,
    &.rename .message_content,
    &.sh_created .message_content .sh_auto_msg_text,
    &.sh_shared .message_content .sh_auto_msg_text,
    &.topic .message_content,
    &.unarchived .message_content {
      color: $color-highlight;
    }

    .meta {
      color: $color-highlight;
    }

    .file_service_icon {
      color: $color-highlight;
    }
  }

  .message_sender {
    color: $base-font-color !important;
  }

  #message_editing_info {
    color: $color-highlight;
  }

  #message_edit_form {
    textarea {
      color: $base-font-color;
    }

    p,
    span {
      color: $color-highlight;
    }
  }

  .msg_inline_video_holder {
    border: 1px solid $color-shade-dark;
  }

  .pinned_item_message_header {
    color: $color-highlight;
  }
}
