#threads_msgs_scroller_div {
  background: $color-base;

  &:not(.loading)::before {
    background: $color-base;
  }

  &.loading::before {
    color: $color-highlight;
  }

  .threads_caught_up_divider {
    .divider_line {
      border-top: 1px solid $color-shade-dark;
    }

    .divider_label {
      background: $color-shade-light;
      color: $base-font-color;
    }
  }

  &.loading {
    background: none;

    &::before {
      color: $base-font-color;
    }
  }
}

#threads_view_banner.messages_banner {
  background: $color-shade-dark;

  &:hover {
    background: $color-shade-light;

    .clear_unread_messages {
      background: $color-shade-light;
    }
  }
}

#threads_msgs.new_banner_is_showing::before {
  background: $color-base;
}

.p-threads_footer__input,
.p-threads_footer__input--legacy {
  .p-message_input_field {
    background: $color-shade-dark;
  }

  .p-message_input_file_button {
    background: $color-shade-dark;
  }
}

ts-thread {
  background: $color-base;

  .reply_input_container {
    .inline_message_input_container {
      form textarea {
        border-color: $color-shade-dark;
        color: $base-font-color;
      }
    }

    .collapsed_input_placeholder,
    .join_channel_from_thread_container,
    .reply_limited_in_general {
      background: $color-shade-dark;
      border-color: $color-shade-dark;
    }
  }

  .thread_messages {
    background: $color-shade-dark;
    border-color: $color-shade-dark;
  }

  ts-message.new_reply {
    background: $color-base;

    &:hover {
      background: $color-shade-dark;
    }
  }

  .thread_header {
    .thread_channel_name a {
      color: $base-font-color;
    }

    .thread_action_btns button {
      color: $color-highlight;
    }
  }

  .new_reply_indicator .blue_dot {
    color: $color-red;
  }
}

#convo_tab .thread_participants,
ts-thread .thread_participants {
  color: $color-highlight;
}

#convo_loading_indicator {
  background-image: none;
}

.reply_input_container .inline_message_input_container .ql-container {
  background-color: $color-shade-light;
  border: 1px solid $color-shade-dark;

  .ql-editor {
    &::-webkit-scrollbar-thumb {
      background-color: $color-shadow-light;

      &:hover {
        background-color: $color-shadow-medium;
      }
    }
  }

  &.focus {
    border-color: $color-shadow-light;

    ~ .emo_menu {
      color: $base-font-color;
    }
  }

  ~ .emo_menu {
    color: $color-highlight;
  }
}

#file_reply_container,
#reply_container,
.reply_input_container {
  .reply_container_info .reply_broadcast_buttons_container .reply_broadcast_label_container {
    color: $color-highlight;
  }
}
