#page {
  .media_list {
    background-color: $color-shade-dark;
    border: 1px solid $color-shade-light;

    > li {
      + li::before {
        border-top: 1px solid $color-shade-light;
      }

      &.interactive {
        a {
          color: $base-font-color;

          &:focus,
          &:hover {
            background: $color-shade-light;
            border-color: $color-shade-lightest;
          }
        }
      }
    }

    &.media_list_with_arrows a {
      &::before {
        color: $color-highlight;
      }
    }
  }

  .sidebar_menu_list_item {
    color: $base-font-color;

    &.is_active {
      background-color: $color-base;
      border-color: $color-base;
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;

      a {
        color: $base-font-color;
      }
    }

    &:not(.is_active):hover {
      background-color: $color-base;
      border-color: $color-base;
    }

    a {
      color: $base-font-color;
    }
  }

  ul {
    &.breadcrumbs {
      li {
        color: $color-highlight;

        &:not(:first-child) {
          &::before {
            color: $color-highlight;
          }
        }
      }
    }

    &.small_arrow_list {
      li {
        a {
          color: $base-font-color;

          &:hover {
            background-color: $color-shade-light;
          }

          &::after {
            color: $base-font-color;
          }
        }

        + li a {
          border-top: 1px solid transparent;
        }
      }
    }
  }

  .tag {
    background-color: $color-shade-darkest;
    border: 1px solid $color-shade-dark;

    &:hover {
      background-color: $color-shade-light !important;
    }
  }
}

.apps_directory {
  .app_card,
  .large_app_card {
    background-color: $color-base;
    border: 1px solid $color-shade-dark;
  }
}

nav.top.apps_nav {
  background: transparent;

  &.persistent .nav_title {
    border-color: $color-shade-light;
  }

  &.clear_nav {
    .nav_title a {
      color: $base-font-color;
    }
  }

  .nav_title a {
    color: $base-font-color;
  }

  ul a.active {
    color: $base-link-color-active;
  }
}

.plastic_typeahead {
  background: $color-shade-dark;
  border: 1px solid $color-shade-dark;
  box-shadow: 0 4px 8px $color-shadow-medium;
}

.plastic_typeahead_item {
  color: $base-font-color;

  + .plastic_typeahead_item {
    border-top: 1px solid $color-shade-light;
  }

  &:not(.plastic_typeahead_item_no_results) {
    &.is_active {
      background-color: $color-base;
      border-top-color: $color-shade-dark;
      color: $base-font-color;

      ts-icon {
        color: $color-highlight;
      }
    }

    &:not(.is_active):hover {
      background: $color-shade-darkest;
      border-color: $color-shade-light;

      + .plastic_typeahead_item {
        border-color: $color-shade-light;
      }
    }
  }
}

a.plastic_typeahead_item {
  color: $base-font-color;
}

.apps_typeahead_item_media {
  background: $color-shade-darkest;
}

.search_input_container {
  .search_input {
    &:focus {
      ~ .icon_search_input {
        color: $base-font-color;
      }
    }
  }
}
