.section_divider {
  border-bottom: 2px solid $color-shade-darkest;
}

.intro {
  h1,
  h2 {
    color: $base-font-color;
  }
}

.plans {
  background-color: $color-base;
}

.plan {
  background: $color-base;

  h4 {
    color: $base-font-color;
  }

  li span {
    color: $base-font-color;
  }
}

.plan_card {
  color: $base-font-color;
  text-shadow: 0 3px 1px $color-shadow-light;

  h3 {
    color: $base-font-color;
  }
}

a.plan_price_details {
  color: $base-font-color;
}

#plan_modal {
  .plan_preview {
    .plan {
      color: $base-font-color;
      text-shadow: 0 3px 1px $color-shadow-light;

      h3 {
        color: $base-font-color;
      }
    }

    .preview_details {
      color: $color-highlight;
    }
  }
}

.ready_to_try_slack.bottom {
  background-color: $color-base;
}

// scss-lint:disable DuplicateProperty
.from_the_wall_of_love {
  background-color: $color-base;
  border-bottom: 2px solid $color-shade-darkest;

  h3 .ts_icon_heart_o::before {
    color: $color-red;
  }

  &::before {
    background-image: -moz-linear-gradient(right, rgba($white, 0), $color-base), -moz-linear-gradient(right, rgba($white, 0), $color-base);
    background-image: -ms-linear-gradient(right, rgba($white, 0), $color-base), -ms-linear-gradient(right, rgba($white, 0), $color-base);
    background-image: -o-linear-gradient(right, rgba($white, 0), $color-base), -o-linear-gradient(right, rgba($white, 0), $color-base);
    background-image: -webkit-linear-gradient(right, rgba($white, 0), $color-base), -webkit-linear-gradient(right, rgba($white, 0), $color-base);
  }

  &::after {
    background-image: -moz-linear-gradient(left, rgba($white, 0), $color-base), -moz-linear-gradient(left, rgba($white, 0), $color-base);
    background-image: -ms-linear-gradient(left, rgba($white, 0), $color-base), -ms-linear-gradient(left, rgba($white, 0), $color-base);
    background-image: -o-linear-gradient(left, rgba($white, 0), $color-base), -o-linear-gradient(left, rgba($white, 0), $color-base);
    background-image: -webkit-linear-gradient(left, rgba($white, 0), $color-base), -webkit-linear-gradient(left, rgba($white, 0), $color-base);
  }
}

.tweet_carousel_controls a {
  color: $color-highlight;
}

.happy_customers {
  background-color: $color-base;
}

.new_signup {
  &.top {
    color: $base-font-color;
  }

  &.bottom .section_content {
    border: 1px solid $color-shade-darkest;
  }
}

.fair_billing_policy {
  background-color: $color-base;
  border-top: 10px solid $color-shade-darkest;
}

.our_pricing_perspective,
.nonprofit_pricing {
  h3 {
    color: inherit;
  }
}

.need_a_hand {
  background-color: $color-shade-mid;
  border-top: 10px solid $color-shade-dark;

  .btn_info {
    background-color: $color-shade-mid !important;
    color: $base-font-color !important;
  }
}

.common_questions_and_resources {
  background-color: $color-base;

  ul {
    &.question_list li {
      border-bottom: 2px solid $color-shade-darkest;

      h4 a {
        color: $base-link-color;

        &:hover {
          color: $base-link-color;
        }

        i.ts_icon::before {
          color: $color-highlight;
        }
      }

      p,
      ul {
        color: $base-font-color;
      }

      &.expanded h4 a i.ts_icon::before {
        color: $color-highlight;
      }

      &:hover {
        background: $color-base;
      }

      &.expanded:hover h4 a i.ts_icon::before {
        color: $base-font-color;
      }
    }

    &.getting_started_list {
      li {
        border-bottom: 2px solid $color-shade-darkest;
      }
    }
  }
}

.common_questions_nav {
  ul li a {
    color: $base-font-color;

    &:hover {
      background-color: $color-shade-light;
      color: $base-font-color;
    }

    &.active {
      background-color: $color-shade-light;
      color: $base-font-color;
    }
  }
}

.back_to_the_top {
  background-color: $color-base;

  .btn {
    color: $base-font-color !important;
  }
}

.payment_per_month {
  color: $base-font-color !important;
}
