.fs_split {
  background-color: $color-base;

  .desc {
    color: $base-font-color;
  }

  .fs_split_pane .fs_split_flex_wrapper .fs_split_well {
    background-color: $color-shade-dark;
    color: $base-font-color;

    a {
      color: $base-font-color;
    }
  }

  .header_error_message {
    background: lighten($color-red, 15%);
    border-left: 0.5rem solid $color-red;
  }

  .error_message {
    color: $color-red;
  }

  .error {
    input,
    textarea {
      background: lighten($color-red, 15%);
      border: 1px solid $color-red;

      &:focus {
        border-color: lighten($color-red, 15%);
        box-shadow: 0 0 7px rgba($color-red, 0.4);
      }
    }
  }
}

.fs_split_pane_left {
  background-color: $color-base;
  color: $base-font-color;
}

.fs_split_pane_right {
  background-color: $color-base;
}

.fs_split_footer a {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}
