body > {
  .status .current_status {
    background: $color-shade-darkest;
  }

  .section.main {
    background: $color-base;
    box-shadow: none;
  }
}

.calendar_incident {
  border-top: 1px solid $color-shade-lightest;
}

.calendar_day.future {
  background-color: $color-shade-lightest;
}

.incident_update .time {
  color: $base-font-color;
}
