// scss-lint:disable ColorVariable

.section {
  background: #f3f3f3;
  color: #555459;

  &.large_top_margin {
    margin-top: 0 !important;
  }

  .current_incident {
    margin-bottom: 2rem !important;
  }

  a {
    color: #2a80b9;

    &:link,
    &:visited {
      color: #2a80b9;
    }

    &:hover,
    &:active,
    &:focus {
      color: #439fe0;
    }
  }

  .cloud_silver {
    color: #babbbf !important;
  }

  .indifferent_grey {
    color: #555459 !important;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #555459;
  }

  hr {
    border: 1px solid #ddd;
  }

  #footer {
    background: none;
  }
}
