// scss-lint:disable SelectorDepth

nav.top.persistent {
  background: $color-shade-dark;
}

.widescreen {
  #header_team_name a i {
    margin-left: 1.5em;
  }

  #user_menu {
    border-right: none;
  }
}

header {
  #menu_toggle {
    color: $base-link-color;
  }

  #header_team_nav {
    background: $color-shade-dark;
    border: 1px solid $color-shade-darkest;

    li.active a {
      background: $color-base;
      color: $base-font-color;
    }
  }

  .header_btns a {
    color: $base-link-color;

    .label {
      color: $color-highlight;
    }
  }

  .vert_divider {
    border-left: 1px solid $color-shade-darkest;
  }
}

table.mini {
  td,
  th {
    border-bottom: 1px solid $color-base;
  }
}

.icon {
  &.thumb_80 img,
  &.thumb_40 img,
  &.square img {
    border-radius: 0;
  }
}

.file_reference .icon,
.file_list_item .icon,
.file_preview {
  border: 2px solid $color-shade-darkest;
}

.btn.btn_outline {
  &.btn_warning,
  &.btn_danger {
    background: $color-shade-darkest;
  }
}

html.no_touch {
  .action_cog:hover {
    color: $base-link-color;

    i {
      color: $base-link-color;
    }
  }

  header {
    #header_team_name a:hover,
    #menu_toggle:hover {
      color: $base-link-color-active;
    }

    .header_btns a:hover {
      color: $base-link-color-active;

      .label {
        color: $color-highlight;
      }
    }
  }

  header #header_team_nav li a:hover,
  nav#site_nav #user_menu_contents:hover {
    background: $color-base;
    color: $base-font-color;
  }

  .pagination ul > {
    li > a:hover {
      background-color: $color-shade-darkest;
    }

    .disabled > a:hover {
      background: $color-shade-dark;
      color: $color-highlight;
    }
  }

  .plastic_row:hover {
    background: $color-base;
    border: 1px solid $color-shade-darkest;
    border-color: $color-shade-darkest;
  }

  .service_row:not(.no_hover):hover {
    a.summary,
    .service_chevron {
      color: $base-font-color;
    }
  }

  .service:not(.no_hover):hover h4 {
    color: $base-font-color;

    a {
      color: $base-link-color;
    }
  }

  input:hover,
  textarea:hover,
  select:hover,
  label.select:not(.disabled):hover:after,
  .accordion_section h4 a:hover {
    color: $base-link-color-active;
  }

  .btn {
    &:hover,
    &.hover,
    &:focus {
      background: $base-link-color-active;
    }

    &.btn_outline.btn_danger:hover {
      background: $color-shade-darkest;
    }
  }

  .btn_outline {
    &:hover,
    &.hover {
      background: $color-base;
      border: 1px solid $color-shade-dark;
      color: $base-font-color !important;
    }
  }
}

.card,
.tab_pane {
  background: $color-shade-dark;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;
}

.tab_set a {
  &.secondary {
    color: $base-link-color;
  }

  &.selected,
  &.secondary.selected {
    background: $color-shade-dark;
    border: 1px solid $color-shade-darkest;
    color: $base-link-color-active;
  }
}

.feature_new_team_sites {
  #all_time,
  #third_row.column,
  #second_row.column {
    background: $color-shade-dark;
    border: 1px solid $color-shade-darkest;
    color: $base-font-color;
  }
}

.tab_actions {
  background: $color-shade-dark;
  border: 1px solid $color-shade-darkest;
  border-color: $color-shade-darkest;
}

.btn_outline {
  border: 1px solid $color-shade-darkest;

  &:active {
    border-bottom: 1px solid $color-base !important;
  }
}

#user_groups_pane .mention {
  background: rgba($color-red, 0.25);
  border: 0;
  border-radius: 3px;
  padding: 2px;
}

#user_groups_container {
  .info_panel {
    background: $color-base;
    border: 1px solid $color-shade-light;
  }

  .mention {
    background-color: rgba($color-red, 0.25) !important;
  }
}

#user_groups_header {
  .user_groups_search .icon_search {
    color: $color-highlight;
  }

  a.icon_close {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

.user_group_item {
  border-bottom: 1px solid $color-shade-light;

  a {
    color: $base-link-color;
  }
}

#flex_contents .user_group_item {
  &:hover {
    background-color: $color-base;

    h4 {
      color: $base-font-color;
    }
  }
}

.user_group_invite_member_small {
  .add_icon {
    color: $color-highlight;
  }
}

#user_group_member_invite_div {
  .disabled .fsl_item.fsl_token {
    background-color: $color-shade-lightest;
    border-color: $color-shade-lightest;
  }
}

.admin_list_item {
  border-bottom: 1px solid $color-base;
  color: $base-font-color;

  &:hover {
    background-color: $color-shade-dark;
  }

  .pill.group {
    background: $color-shade-mid;
  }

  .admin_member_type,
  .admin_member_caret {
    color: $color-highlight;
  }

  .admin_member_real_name {
    color: $base-font-color;
  }

  .two_factor_auth_badge:hover {
    background: $color-shade-mid;
  }

  &.expanded {
    .btn_outline {
      border: 1px solid $color-base;
      color: $base-font-color !important;

      &:hover {
        border: 1px solid $color-shade-dark;
        color: $base-font-color !important;
      }
    }

    .sub_action {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  &.expanded,
  &.success,
  &.processing,
  &.error {
    background-color: $color-base;
  }

  &.inactive {
    background: $color-shade-mid;
  }

  .inline_name:hover,
  .inline_email:hover,
  .inline_username:hover {
    background: none !important;
    color: $base-link-color-active;
    text-decoration: underline;
  }

  &.invite_item.bouncing {
    background: $color-shade-lightest;

    .email {
      color: $color-red;
    }
  }
}

.notice_error,
.notice_processing {
  color: $base-font-color;
  text-shadow: 0 1px 1px $color-shadow-medium;
}

.notice_success {
  color: $base-font-color;
  text-shadow: 0 1px 1px $color-shadow-medium;

  a.undo_link {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

.restriction_option {
  background: $color-shade-mid;
  color: $base-font-color;

  &:hover {
    background: $color-shade-darkest;

    .ts_icon_arrow_right {
      color: $base-link-color-active;
    }
  }

  .ts_icon_arrow_right {
    color: $base-link-color;
  }
}

#page pre,
.backup_codes_wrapper,
body > pre {
  color: $black;
}

.backup_codes {
  background: $color-shade-darkest;
  border: 1px solid $color-shade-light;
  color: $base-font-color;
}

.pagination ul > {
  li > {
    a,
    span {
      background: $color-base;
      border: 1px solid $color-shade-darkest;
      color: $base-font-color;
    }

    a:focus {
      background-color: $color-shade-darkest;
    }
  }

  .active > {
    a,
    span {
      background-color: $color-shade-darkest;
    }
  }

  .disabled > {
    span {
      background: $color-shade-dark;
      color: $color-highlight;
    }

    a {
      background: $color-shade-dark;
      color: $base-link-color;

      &:focus {
        background: $color-shade-dark;
        color: $base-link-color-active;
      }
    }
  }
}

.top_border,
header #header_team_nav #add_team_option {
  border-top: 1px solid $color-shade-darkest;
}

.inactive,
#page_contents .invite_form_column {
  background-image: none;
}

.alert {
  background-color: $color-shade-dark;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;
  text-shadow: 0 1px 0 $color-shadow-dark;

  h4 {
    color: $base-font-color;
  }
}

.alert-info,
footer {
  background-color: $color-shade-dark;
  border-color: $color-shade-darkest;
  color: $base-font-color;
}

.radio_selection,
.billing_selection {
  border: 2px solid $color-shade-darkest;
  color: $base-font-color !important;
  text-shadow: 0 1px 1px $color-shadow-dark;
}

.radio_selection .mini,
.slate_blue {
  color: $base-font-color !important;
}

.radio_selection:hover,
.billing_selection:hover {
  border-color: $color-shade-darkest;
}

.radio_selection.active,
.billing_selection.active {
  background: $color-shade-light;
  border-color: $color-shade-dark;
}

table tr:first-child th:not(:only-of-type) {
  border-bottom: 2px solid $color-shade-darkest;
}

.help {
  border-top: 5px solid $color-shade-darkest;
  color: $color-highlight;
}

.subtle_silver,
.log_meta {
  color: $color-highlight !important;
}

.service_group {
  a:hover,
  &:hover a {
    color: $base-link-color !important;
  }
}

.burnt_violet,
.severe_grey {
  color: $color-highlight !important;
}

.file_actions_cog:hover {
  color: $base-link-color-active !important;
}

.highlight_yellow_bg {
  background-color: $color-red !important;
}

.warm_white_bg {
  background-color: $color-shade-dark !important;
  border: 1px solid $color-shade-darkest !important;
}

.service {
  background: $color-base;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;

  &.open {
    background: $color-base !important;
    border: 1px solid $color-shade-darkest;
  }

  h4 {
    color: $base-font-color;

    a {
      color: $base-link-color;
    }
  }
}

.service_row {
  color: $base-font-color;

  .summary strong {
    background: $color-red;
    color: $base-font-color;
  }
}

.icon_plus {
  border: 3px dashed $base-font-color;
}

.banner.apps,
#billing_contacts_container {
  background: $color-shade-dark;
  border-top: 1px solid $color-shade-darkest;
}

#stats_too_soon {
  height: 500px;
}

header,
nav#site_nav {
  background: $color-shade-dark;
}

.btn-group.open .btn.dropdown-toggle {
  background: $color-shade-dark;

  &:hover {
    background: $color-shade-dark;
  }
}

table.billing tr:hover td,
.log_entry:hover,
.service:hover,
#all_time,
#third_row.column,
#second_row.column {
  background: $color-shade-dark;
}

nav#site_nav h3,
#header_team_name,
header #header_team_name a,
.plastic_row .description,
.widescreen:not(.nav_open),
html.no_touch .plastic_row:hover .chevron {
  color: $base-link-color;
}

.nav_open #menu_toggle,
#second_row .disclaimer,
#stats_disclaimer,
#add_emoji_section h3 a,
#stats_too_soon_copy h3,
.col_left h2 a {
  color: $base-link-color;
}

#last_day p.summary {
  color: $base-font-color;

  strong {
    color: $base-font-color;
  }
}

header .menu_icon,
#stats_too_soon img,
header #header_logo {
  display: none;
}

.service_group a,
.file_actions_cog {
  color: $base-link-color !important;
}

.plan,
#plan_preview .plan {
  background: $color-base;
  color: $base-font-color;
}

.plastic_row {
  h3,
  h4 a,
  .chevron {
    color: $base-font-color;
  }
}

.service_row a.summary,
.accordion_section h4 a {
  color: $base-font-color;
}

.card h3 a,
header #header_team_nav li a {
  color: $base-font-color;
}

#stats_too_soon_copy p,
table.mini {
  color: $base-font-color;
}

.plan_details .column {
  &:not(.no_hover):hover,
  &.active {
    color: $base-font-color;
  }
}

.preview_details,
.cost_explanation {
  color: $base-font-color;
}

.icon_plus,
nav.top.persistent ul a {
  color: $base-font-color;
}

footer ul a {
  color: $base-font-color;

  &:link,
  &:visited {
    color: $base-font-color;
  }
}

.plastic_row .icon,
#page .msgs_holder,
.billing_callout {
  background: none;
}

table tr,
.banner,
.service_row,
.accordion_section,
.billing_contact {
  border-bottom: 1px solid $color-base;
}

#footer {
  border-top: none;

  a {
    color: $base-link-color;
  }
}

#header_nav a.primary_nav,
#activity_recent_toggle {
  color: $base-link-color;
}

.file_header .title a {
  color: $base-link-color;
}

.action_cog {
  color: $base-link-color;

  i {
    color: $base-link-color;
  }
}

.widescreen:not(.nav_open) nav#site_nav {
  h3 {
    color: $base-font-color;
  }

  ul a {
    color: $base-link-color;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $base-link-color-active;
    }
  }

  #user_menu_name {
    color: $color-highlight;
  }
}

a.mini {
  color: $base-link-color;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $base-link-color-active;
  }
}

#home_footer a,
nav#site_nav #footer_nav a,
#header_team_name:hover .fa-caret-down,
.widescreen:not(.nav_open) nav#site_nav #footer_nav a {
  color: $base-link-color-active;
}

#header_nav a.primary_nav {
  &:hover,
  &.active {
    color: $base-link-color-active;
  }
}

ul.sidebar_nav li {
  color: $base-link-color;

  a.active {
    color: $base-link-color-active;
  }
}

.col_left h2 a:hover {
  color: $base-link-color-active;
}

.service:hover h4 {
  color: $base-font-color;

  a {
    color: $base-link-color;
  }
}

.file_header .title a:hover {
  color: $base-link-color-active;
}

.plan_availability,
.menu #monkey_scroll_wrapper_for_menu_items_scroller,
.modal-backdrop,
.icon {
  background: $color-base;
}

#stats_limited {
  background-image: linear-gradient(to bottom, $color-shadow-transparent 0, $color-shade-darkest 65%);
  bottom: 0;
  height: 480px;
  position: absolute;
  width: 100%;
}

.btn.btn_outline.btn_danger,
.btn.btn_outline.btn_warning {
  background: $color-red !important;
}

.well {
  background: $color-shade-light;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;
  text-shadow: 0 1px 1px $color-shadow-dark;
}

.accordion_section h4,
.accordion_section h4 a {
  color: $base-font-color;
}

.input_note {
  color: $base-font-color;
}

.two_factor_option_app,
.two_factor_option_sms,
.configure-step1,
.configure-step3 {
  display: none;
}


.two_factor_choice {
  background-color: $color-shade-dark;
  border: 1px solid $color-shade-light;
  box-shadow: 0 1px 0 $color-shadow-medium;
}

a.two_factor_choice {
  background-color: $color-shade-dark;
  border: 1px solid $color-shade-light;
  box-shadow: 0 1px 0 $color-shadow-medium;

  &:link {
    background-color: $color-shade-dark;
    border: 1px solid $color-shade-light;
    box-shadow: 0 1px 0 $color-shadow-medium;
  }

  &:hover,
  &:link:hover {
    box-shadow: 0 0 1px 2px $color-shadow-light;

    .two_factor_link {
      color: $base-font-color;
    }
  }
}

.two_factor_choice:hover {
  box-shadow: 0 0 1px 2px $color-shadow-light;

  .two_factor_link {
    color: $base-font-color;
  }
}

#custom_emoji span.emoji-wrapper {
  background-color: $color-shade-dark;
}

@keyframes highlight_fade {
  from { background-color: $color-shade-mid; }
  to { background-color: $color-shade-dark; }
}
