.modal {
  background-color: $color-base;
  border: 0;
  box-shadow: 0 1px 10px $color-shadow-dark;

  .close,
  label {
    color: $base-font-color;
  }
}

.modal_input_note,
.modal_input_note_full_width,
.input_note_special {
  color: $color-highlight;
}

.modal-footer {
  background: padding-box $color-base;
  border-top: 1px solid transparent;
  box-shadow: none;
}

.modal-header {
  background: padding-box $color-shade-darkest;
  border-bottom: 1px solid $color-shade-dark;
  color: $base-font-color;
}

.modal-backdrop {
  background-color: $color-base;
}

.close {
  color: $base-font-color;
  text-shadow: 0 1px 0 $color-shadow-dark;
}

#fs_modal_bg {
  background: $color-base;
}

#fs_modal {
  background: $color-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $base-font-color;
  }

  #fs_modal_sidebar a {
    color: $base-font-color;

    &:hover {
      background: $color-shade-dark;
    }

    &.active {
      background: $color-shade-darkest;
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;
    }
  }

  .fs_modal_btn {
    color: rgba($base-font-color, 0.5);

    &:hover {
      background: $color-shade-lightest;
      color: $base-font-color;
    }

    &:active {
      background: $color-shade-lightest;
      color: $base-font-color;
    }
  }

  &.fs_modal_header .fs_modal_btn:active {
    color: $base-font-color;
  }

  #fs_modal_footer {
    background-color: $color-shade-dark;
  }
}
