.admin_invites_account_type_option {
  border-bottom: 1px solid $color-shade-dark;

  p {
    color: $base-font-color;
  }

  .option_arrow {
    color: $color-highlight;
  }

  &:hover:not(.disabled) h3 {
    color: $base-font-color;
  }

  &.disabled {
    .account_type_disabled_hover {
      background: $color-shadow-transparent;
    }

    &:hover .account_type_disabled_hover {
      background: rgba($color-base, 0.95);
    }
  }
}

.admin_invite_row,
.admin_invites_custom_message_container {
  .delete_row,
  .hide_custom_message {
    color: $color-highlight;

    &:hover {
      color: $color-red;
    }
  }

  &.delete_highlight {
    background: rgba($color-red, 0.4);
  }
}

#admin_invites_channel_picker_container {
  border-bottom: 1px solid $color-shade-dark;
}

#admin_invites_add_row {
  background: $color-shade-light;
  border: 1px solid $color-shade-dark;
}

#admin_invites_workflow .lazy_filter_select .lfs_input_container {
  background-color: $color-shade-light;
}

#channel_invite_tokens {
  background-color: $color-shade-light;
  border-color: $color-shade-lightest;

  &.active {
    border-color: $color-highlight;
    box-shadow: 0 0 7px rgba($color-highlight, 0.15);
  }

  .member_token {
    background: $color-base;
    color: $base-font-color;

    &.ra {
      background: rgba($color-red, 0.4);
    }
  }
}

#admin_invites_alert {
  background: $color-shade-light;
  border-color: $color-shade-lightest;
}

.channel_invite_member,
.channel_invite_member_small,
.channel_invite_pending_user_small {
  .add_icon {
    color: $base-font-color;
  }

  .invite_user_group_avatar {
    background-color: $color-base;
    color: $base-font-color;
  }
}
