#omnibox {
  input {
    border: 1px solid $color-shade-darkest;
  }

  .omnibox_item {
    &.selected {
      background: $color-shade-light;
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;

      .subtext {
        color: $color-highlight;
      }
    }

    .subtext {
      color: $color-highlight;
    }

    .unread_highlight_cnt {
      background: $color-red;
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;
    }
  }

  a.omnibox_item {
    color: $base-link-color;
  }

  #omnibox_help {
    color: $base-font-color;
  }
}
