#fs_modal.prefs_modal {
  .section_rollup {
    border-bottom: 1px solid $color-shade-dark;

    &:first-of-type {
      border-top: 1px solid $color-shade-dark;
    }

    &:hover:not(.active) {
      background: rgba($color-shade-darkest, 0.75);
      color: $base-font-color;
    }
  }

  label.sound_option {
    &:hover:not(.disabled) ts-icon {
      color: $color-highlight;
    }
  }

  #debug_prefs_dialog {
    background: $color-shade-mid;
  }

  #prefs_themes {
    .theme_thumb {
      box-shadow: 0 1px 1px $color-shadow-medium;
    }

    #prefs_themes_customize {
      .custom_theme_label {
        border: 1px solid $color-shade-dark;

        .color_swatch {
          border: 1px solid $color-shade-dark;
        }
      }

      .colpick {
        background: $color-shade-mid;
        border: 1px solid $color-shade-dark;
      }
    }

    &::before {
      background: $color-red;
      border-radius: 3px;
      content: "Light sidebar themes (e.g. Hoth) will break this Stylish theme.";
      display: block;
      margin-bottom: 6px;
      padding: 2px 4px 4px;
      width: 100%;
    }
  }
}

.sidebar_menu_list_item {
  border: 0;
  color: $base-font-color;

  &.is_active {
    background-color: $color-shade-darkest;
    color: $base-font-color;
    text-shadow: 0 1px 0 $color-shadow-light;
  }

  &:not(.is_active):hover {
    background-color: $color-shade-dark;
  }
}
