#new_prefs_dialog:not(.higher):not(.precedence) {
  background: $color-shade-mid;

  .modal-header {
    border-bottom: 1px solid $color-base;
  }

  .modal-nav {
    background: padding-box $color-shade-light;
    border-right: 1px solid $color-base;

    a {
      color: $base-font-color;
      text-shadow: 0 1px 0 $color-shadow-light;

      &:hover {
        background: $color-shade-lightest;
        color: $base-font-color;
      }

      &.active {
        background: $color-shade-mid;
        color: $base-font-color;
        text-shadow: 0 1px 0 $color-shadow-light;
      }
    }
  }
}

#debug_prefs_dialog {
  background: $color-shade-mid;
}

#prefs_themes .monkey_scroller:before {
  background: $color-red;
  border-radius: 3px;
  content: "Light sidebar themes (e.g. Hoth) will break this Stylish theme.";
  display: block;
  margin-bottom: 6px;
  padding: 2px 4px 4px;
  width: 100%;
}
