.basic_share_dialog {
  .share_dialog_divider {
    border-top-color: transparent;
  }
}

.share_dialog_attachment_container {
  color: $base-font-color;
}

#share_dialog .file_list_item {
  border-color: $color-shade-darkest;
}

#generic_dialog.basic_share_dialog .lazy_filter_select .lfs_item .ts_icon:not(.presence_icon),
#share_dialog .lazy_filter_select .lfs_item .ts_icon:not(.presence_icon) {
  color: $color-highlight;
}

#share_dialog_input_container #file_comment_textarea.ql-container {
  border-color: $color-shade-dark;

  &.focus {
    border-color: $color-shade-light;

    ~ .emo_menu {
      color: $base-font-color;
    }
  }
}
