input {
  &[type=text],
  &[type=password],
  &[type=datetime],
  &[type=datetime-local],
  &[type=date],
  &[type=month],
  &[type=time],
  &[type=week],
  &[type=number],
  &[type=email],
  &[type=url],
  &[type=tel],
  &[type=color],
  &[type=search] {
    background-color: $color-shade-light;
    border: 1px solid $color-shade-darkest;
    color: $base-font-color;

    &:focus {
      border-color: rgba($color-shade-dark, 0.8);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($color-shade-lightest, 0.6);
    }
  }

  &[type=file]:focus {
    outline: $base-font-color dotted thin;
  }

  &[type=radio]:focus,
  &[type=checkbox]:focus {
    outline: $base-font-color dotted thin;
  }
}

select {
  background: $color-shade-light;
}

select,
textarea {
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;

  &:active,
  &:focus {
    border-color: $color-shade-dark;
    box-shadow: 0 0 7px rgba($color-shade-lightest, 0.15);
  }
}

.no_touch {
  input:hover,
  select:hover,
  textarea:hover {
    border-color: $color-shade-dark;
  }

  label.select {
    &:hover select {
      border-color: $color-shade-dark;
    }

    &:not(.disabled):hover:after {
      color: $color-shade-dark;
    }
  }
}

legend {
  border-bottom: 1px solid $color-shade-lightest;

  small {
    color: $color-highlight;
  }
}

.uneditable-input,
.uneditable-textarea {
  background-color: $color-shade-mid;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;

  &:focus {
    border-color: rgba($color-shade-lightest, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($color-shade-lightest, 0.6);
  }
}

textarea {
  background-color: $color-shade-light;
  border: 1px solid $color-shade-darkest;
  color: $base-font-color;
}

textarea:focus {
  border-color: rgba($color-shade-lightest, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($color-shade-lightest, 0.6);
}

::-webkit-input-placeholder {
  color: $base-font-color;
}

:-moz-placeholder {
  color: $base-font-color;
}

::-moz-placeholder {
  color: $base-font-color;
}

:-ms-input-placeholder {
  color: $base-font-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $base-font-color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $base-font-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $base-font-color;
}

input,
textarea {
  &[disabled],
  &[readonly] {
    background-color: $color-shade-light;
  }
}

.form-actions {
  background-color: $color-shade-mid;
  border-top: 1px solid $color-shade-dark;
}

.help-block,
.help-inline {
  color: $color-highlight;
}

.input-append .add-on,
.input-prepend .add-on {
  background-color: $color-shade-lightest;
  border: 1px solid $color-shade-light;
  text-shadow: 0 1px 0 $color-shadow-light;
}

.btn {
  background-color: $color-shade-light;
  background-image: linear-gradient(to bottom, $color-shade-lightest, $color-shade-light);
  border: 1px solid $color-shade-lightest;
  border-bottom-color: $color-shade-light;
  box-shadow: inset 0 1px 0 $color-shadow-light, 0 1px 2px $color-shadow-light;
  color: $base-font-color !important;
  text-shadow: 0 1px 1px $color-shadow-light;

  &.active,
  &.disabled,
  &:active,
  &:focus,
  &:hover,
  &[disabled] {
    background-color: $color-shade-lightest;
    color: $base-font-color;
  }

  &:focus,
  &:hover {
    color: $base-font-color;
  }

  &:focus {
    outline: $base-font-color dotted thin;
  }

  &.btn_outline.disabled {
    background: $color-shade-mid !important;
    color: $base-link-color !important;

    &:hover {
      background: $color-shade-mid !important;
      color: $base-link-color !important;
    }
  }

  &.btn_border {
    border: 2px solid $color-shade-mid;
  }
}

.btn-primary {
  background-color: $color-shade-mid;
  background-image: linear-gradient(to bottom, $color-shade-light, $color-shade-mid);
  color: $base-font-color;

  &.active,
  &.disabled,
  &:active,
  &:focus,
  &:hover,
  &[disabled] {
    background-color: $color-shade-light;
    color: $base-font-color;
  }
}

.btn-link {
  color: $base-link-color;

  &:focus,
  &:hover {
    color: $base-link-color-active;
  }

  &[disabled] {
    &:focus,
    &:hover {
      color: $base-link-color-active;
    }
  }
}

.btn_outline {
  background: $color-base;
  color: $base-font-color !important;

  &:after {
    border: 1px solid $color-shade-mid;
  }

  &.btn_transparent {
    color: rgba($color-shade-light, 0.9) !important;

    &:after {
      border: 1px solid rgba($color-base, 0.5);
    }

    &.active,
    &.hover,
    &:active,
    &:focus,
    &:hover {
      background-color: rgba($color-shade-light, 0.9) !important;
      color: $base-font-color !important;
    }

    &.active,
    &:active {
      background-color: rgba($color-shade-light, 0.8) !important;
    }
  }

  &.hover,
  &:focus,
  &:hover {
    background: $color-shade-dark;
    color: $base-font-color !important;
  }

  &:active {
    color: $base-font-color;
  }

  &.active {
    color: $base-link-color !important;
  }
}

.btn-group {
  &.open {
    .btn.dropdown-toggle {
      background-color: $color-shade-light;
    }

    .btn-primary.dropdown-toggle {
      background-color: $color-shade-mid;
    }
  }

  > {
    .btn + .dropdown-toggle {
      box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.125), inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
    }
  }
}

.btn-danger .caret,
.btn-info .caret,
.btn-inverse .caret,
.btn-primary .caret,
.btn-success .caret,
.btn-warning .caret {
  border-bottom-color: $base-font-color;
  border-top-color: $base-font-color;
}
