.chzn-container .chzn-drop {
  background: $color-base;
  border: 1px solid $color-shade-mid;
  box-shadow: 0 1px 3px rgba($black, 0.15);
}

.chzn-container-single {
  .chzn-single {
    background-color: $color-base;
    background-image: linear-gradient($color-base 20%, $color-shade-dark 50%, $color-base 52%, $color-shade-dark 100%);
    border: 1px solid $color-shade-mid;
    box-shadow: 0 0 3px $color-base inset, 0 1px 1px rgba($black, 0.1);
    color: $base-font-color;
  }

  .chzn-default {
    color: $base-font-color;
  }

  .chzn-search input {
    border: 1px solid $color-shade-mid;
  }
}

.chzn-container-multi .chzn-choices {
  background-color: $color-base;
  border: 1px solid $color-shade-mid;

  .search-field {
    input {
      color: $base-font-color;
    }

    .default {
      color: $base-font-color;
    }
  }

  .search-choice {
    background-color: $color-shade-lightest;
    border: 1px solid $color-shade-mid;
    color: $base-font-color;

    &.search-choice-disabled {
      background-color: $color-shade-mid;
      background-image: linear-gradient(top, $color-shade-light 20%, $color-shade-mid 50%);
      border: 1px solid $color-shade-mid;
      color: $color-highlight;
    }
  }

  .search-choice-focus {
    background: $color-shade-light;
  }
}

.chzn-container .chzn-results {
  .highlighted {
    background-color: $color-shade-light;
    color: $base-font-color;
  }

  li em {
    background: $color-shade-lightest;
  }

  .no-results {
    background: $color-shade-lightest;
  }

  .group-result {
    color: $base-font-color;
  }
}

.chzn-container .chzn-results-scroll {
  background: $color-base;
}

.chzn-container-active {
  .chzn-single {
    border: 1px solid $color-shade-lightest;
  }

  &.chzn-with-drop .chzn-single {
    background-color: $color-shade-mid;
    background-image: linear-gradient($color-shade-mid 20%, $color-base 80%);
    border: 1px solid $color-shade-mid;
    box-shadow: 0 1px 0 $color-base inset;
  }

  .chzn-choices .search-field input {
    color: $base-font-color !important;
  }
}
