#message-input {
  &.offline,
  &.disabled {
    background-color: $color-shade-dark !important;
  }
}

#message-input-message {
  color: $color-highlight;

  @if global-variable-exists(base-font-family) {
    font-family: $base-font-family;
  }
}

#messages-input-container #message-input {
  &.msg_input_placeholder {
    @include placeholder;
  }
}

#message_edit_form,
#messages-input-container {
  #message-input {
    background: padding-box $color-shade-light;
    border-color: $color-shade-mid;
    border-left: 0;
    color: $base-font-color;

    &:focus {
      border-color: $color-shade-dark;
    }
  }

  .emo_menu {
    color: rgba($base-font-color, 0.3);

    &.active .ts_icon_happy_smile,
    &:hover .ts_icon_happy_smile {
      color: $color-shade-lightest;
    }
  }

  &.focus {
    .emo_menu {
      color: rgba($base-font-color, 0.6);
    }
  }

  &.offline {
    #message-input,
    #primary_file_button {
      background-color: $color-shade-dark !important;
    }

    #primary_file_button {
      border-color: $color-shade-mid;
      color: $color-highlight;
    }
  }
}

#msg_form {
  &.focus {
    #msg_input,
    #primary_file_button:not(:hover):not(.active) {
      border-color: $color-shade-dark;
    }
  }

  #msg_input {
    background: padding-box $color-shade-light;
    border-color: $color-shade-mid;
    border-left: 0;
    color: $base-font-color;
  }
}

#msg_input {
  background: $color-shade-light;
  border-color: $color-shade-mid;
  color: $base-font-color;

  &:focus {
    border-color: $color-shade-dark;

    + #primary_file_button:not(:hover):not(.active) {
      border-color: $color-shade-dark;
    }
  }

  &.offline:not(.pretend-to-be-online) {
    background-color: $color-shade-dark !important;
    color: $color-highlight;
  }

  &.disabled,
  &.ql-disabled {
    background-color: $color-shade-dark;
    border-color: $color-shade-dark;
    color: $color-highlight;
  }
}

#msg_input_message {
  background-color: $color-shade-dark;
  color: $base-font-color;
}

#message_edit_form.focus #primary_file_button:not(:hover),
#messages-input-container.focus #primary_file_button:not(:hover) {
  border-color: $color-shade-dark;
}

#primary_file_button {
  background: padding-box $color-shade-light;
  border-color: $color-shade-mid;

  &.active,
  &:hover {
    background: $color-shade-mid;
    border-color: $color-shade-dark;
    color: $color-highlight;
  }
}

#footer {
  background: $color-base;

  &.disabled #message-input,
  &.disabled #msg_input {
    background: padding-box $color-shade-dark !important;
    border-color: $color-shade-dark !important;
  }

  &.footer_msg_input {
    @extend #footer;
  }
}

#footer_archives_table {
  color: $color-highlight;
}

#typing_text {
  color: $color-highlight;
}

#notification_bar.wide #typing_text.overflow_ellipsis {
  -webkit-filter: none;
  filter: none;
}

#special_formatting_text {
  color: $color-highlight;
}
