.c-input_select {
  background: $color-shade-light;
  border-color: $color-shade-dark;
  color: $base-font-color;
  
  .p-file_list__file_type_select &__selected_value--placeholder {
    color: $base-font-color;
  }
}

.c-input_select_options_list_container:not(.c-input_select_options_list_container--always-open) {
  background: $color-shade-light;
  border-color: $color-shade-dark;
  color: $base-font-color;
}

.c-input_select_options_list__option {
  color: $base-font-color;
}
