// Used on non-webkit browsers

.monkey_scroll_bar {
  background: $color-shade-mid;
}

.monkey_scroll_handle_inner {
  background: $color-shade-light;
  border: 1px solid $color-shade-lightest;
}

.monkey_scroll_bar_native_scrollbar_shim {
  background: transparent;
}

#client-ui {
  .monkey_scroll_bar {
    background: $color-shade-mid;
  }

  .monkey_scroll_handle_inner {
    background: $color-shade-light;
    border: 3px solid $color-shade-lightest;
  }
}

#monkey_scroll_wrapper_for_channels_scroller {
  .monkey_scroll_bar {
    background: $color-shade-mid;
  }

  .monkey_scroll_handle_inner {
    background: $color-shade-light;
    border: 3px solid $color-shade-lightest;
  }
}
