::-webkit-scrollbar-track {
  background: $color-shade-dark !important;
  border-left-color: $color-shade-dark !important;
  border-right-color: $color-shade-dark !important;
  color: $color-shade-dark !important;
}

::-webkit-scrollbar-thumb {
  background: $color-shade-light !important;
  border-left-color: $color-shade-dark !important;
  border-right-color: $color-shade-dark !important;
  color: $color-base !important;
}

::-webkit-scrollbar-corner {
  background: $color-base !important;
}

.supports_custom_scrollbar {
  #messages_container::after {
    background: none !important;
  }
}

.monkey_scroll_bar {
  background: $color-shade-mid;
}

.monkey_scroll_handle_inner {
  background: $color-shade-light;
  border: 1px solid $color-shade-lightest;
}

.monkey_scroll_bar_native_scrollbar_shim {
  background: transparent;
}

#client-ui {
  .monkey_scroll_bar {
    background: $color-shade-mid;
  }

  .monkey_scroll_handle_inner {
    background: $color-shade-light;
    border: 3px solid $color-base;
  }
}

.c-scrollbar--monkey .c-scrollbar {
  &__track {
    background: $color-shade-mid;
  }

  &__bar {
    background: $color-shade-light;
    box-shadow: 0 3px 0 $color-base, 0 -3px 0 $color-base;
  }
}
