#col_channels {
  background-color: $color-shade-dark;
  color: $base-font-color;
}

#col_channels_collapse_view {
  background: $color-shade-dark;
}

.channels_list_holder {
  h2 {
    color: $base-font-color !important;

    &.hoverable:not(.jquery_hover):hover {
      color: $base-font-color;
      opacity: 0.8;
    }
  }

  ul {
    color: $base-font-color !important;

    li {
      text-shadow: 0 1px 1px $color-shadow-light;

      .channel_name,
      .group_name,
      .im_name,
      .mpim_name,
      > a {
        background: $color-shade-dark;
        color: rgba($base-font-color, 0.8) !important;

        &:hover {
          background: $color-base !important;
          border-bottom-right-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
        }
      }

      .group_close,
      .im_close,
      .mpim_close {
        color: $base-link-color !important;
      }

      &.mention a {
        color: $base-font-color;
      }

      &.unread {
        &:not(.muted_channel) {
          color: lighten($base-font-color, 6%) !important;

          .channel_name,
          .group_name,
          .im_name,
          .mpim_name,
          > a {
            background: $color-shade-dark;
            color: lighten($base-font-color, 6%) !important;
          }
        }

        .prefix {
          color: $base-font-color !important;
          opacity: 1;
        }
      }
    }
  }

  .unread_just {
    background: $color-base;
    color: $base-font-color;
  }

  .unread_highlights {
    background: $color-red;
    color: $base-font-color;
    text-shadow: 0 1px 0 $color-shadow-light;
  }
}

.channels_list_new_btn {
  color: $base-link-color;
}

.list_more {
  border-bottom: 1px dotted $base-link-color;
  color: $base-link-color !important;

  &:hover {
    border-bottom: 1px solid $base-link-color-active;
    color: $base-link-color-active !important;
  }
}

#channels_scroller.show_which_channel_is_active ul li.active {
  .channel_name,
  .group_name,
  .mpim_name,
  .im_name {
    background: $color-base;
    color: $base-font-color !important;
  }

  a {
    &.group_name,
    &.im_name,
    &.mpim_name {
      background: $color-base;
      color: $base-font-color;
    }

    &.channel_name .prefix,
    &.group_name .prefix {
      color: $color-highlight;
    }
  }

  .unread_highlights {
    background: $color-red;
    color: $base-font-color;
  }
}

#channel_scroll_down,
#channel_scroll_up {
  background: $color-shade-darkest;
  color: $base-font-color;
  text-shadow: 0 1px 1px $color-shadow-light;
}

#channel_scroll_down {
  &:hover {
    color: $base-font-color;
  }

  &.unseen_have_mentions {
    background: $color-red;
  }
}

#channel_scroll_up {
  &.unseen_have_mentions {
    background: $color-red;
  }
}

#channel_scroll_up:hover {
  color: $base-font-color;
}

#list_controls {
  border-bottom: 1px solid $color-shade-dark;
  color: $color-highlight;
}

#list_search {
  border: 1px solid $color-shade-dark;
}

#list_search_container {
  .icon_search {
    color: $color-highlight;
  }

  .icon_close {
    color: $color-highlight;
  }
}

#list_browser {
  p.highlighted {
    background: $color-base;
  }

  &:not(.keyboard_active) p:hover {
    background: $color-base;
  }

  .item_creator {
    color: $color-highlight;
  }

  .item_count {
    color: $base-font-color;
  }

  .item_purpose {
    color: $base-font-color;
  }
}

#list_browser_dialog {
  .modal-footer a {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }
}

#channel_list_invites_link {
  border-bottom: 1px dotted $base-link-color;
  color: $base-link-color !important;
  font-size: 0.9rem;

  &:hover {
    border-bottom: 1px solid $base-link-color;
  }
}

#quick_switcher_btn {
  background: $color-shade-dark;
  border-top: 2px solid $color-shade-dark;

  > i {
    color: $color-highlight;
  }

  &:active,
  &:hover {
    background: $color-base;
    border-color: $color-base;

    > i {
      color: $base-link-color;
    }

    #quick_switcher_label {
      color: $base-link-color;
    }

    #quick_switcher_shortcut {
      color: $base-link-color;
    }
  }
}

#quick_switcher_shortcut {
  color: $color-highlight;
}

#quick_switcher_label {
  color: $color-highlight;
}
