// Theme Colors
$color-base: #404552;
$color-highlight: #949494;

$color-shade-darkest: #1d2027;
$color-shade-dark: #2a2f39;
$color-shade-mid: #454c5c;
$color-shade-light: #6b6f79;
$color-shade-lightest: #858991;

// Font Colors
$base-font-color: #d3dae3;

$base-link-color: #90939b;
$base-link-color-active: #90939b;
