// Theme Colors
$color-base: #404552;
$color-highlight: #d3dae3;

$color-shade-darkest: #2a2d35;
$color-shade-dark: #353944;
$color-shade-mid: #4b5160;
$color-shade-light: #565d6f;
$color-shade-lightest: #62697d;

// Font Colors
$base-font-color: #d3dae3;

$base-link-color: $color-highlight;
$base-link-color-active: $color-highlight;
