// Theme Colors
$color-base: #3e313c;
$color-highlight: #a3839f;

$color-shade-darkest: #372c36;
$color-shade-dark: #4d394b;
$color-shade-mid: #4a3b49;
$color-shade-light: #61485e;
$color-shade-lightest: #876484;

// Font Colors
$base-font-color: #f0d9ed;

$base-link-color: $color-highlight;
$base-link-color-active: #d4bbd1;
