// Theme Colors
$color-base: #222;
$color-highlight: #949494;

$color-shade-darkest: #000;
$color-shade-dark: #363636;
$color-shade-mid: #424242;
$color-shade-light: #545454;
$color-shade-lightest: #828282;

// Font Colors
$base-font-color: #e6e6e6;

$base-link-color: $color-highlight;
$base-link-color-active: #c7c7c7;
