$dark0:   #1d2021;
$dark1:   #282828;
$dark2:   #3c3836;
$dark3:   #504945;
$dark4:   #665c54;

$light0:  #f9f5d7;
$light1:  #ebdbb2;
$light2:  #d5c4a1;
$light3:  #bdae93;
$light4:  #a89984;

$red:     #cc241d;
$green:   #98971a;
$yellow:  #d79921;
$blue:    #458588;
$purple:  #b16286;
$aqua:    #689d6a;
$orange:  #d65d0e;

// Theme Colors
$color-base: $dark0;
$color-highlight: $yellow;

$color-red: $red;
$color-green: $green;
$color-yellow: $yellow;

$black: $dark0;
$white: $light0;

$color-shade-darkest: $dark1;
$color-shade-dark: $dark1;
$color-shade-mid: $dark1;
$color-shade-light: $dark3;
$color-shade-lightest: $light1;

// Font Colors
$base-font-color: $light0;

$base-link-color: $aqua;
$base-link-color-active: $red;
