// Theme Colors
$color-base: #000;
$color-highlight: #1793D1;

$color-shade-darkest: #000;
$color-shade-dark: #111;
$color-shade-mid: #222;
$color-shade-light: #333;
$color-shade-lightest: #444;

// Font Colors
$base-font-color: #00B9F2;

$base-link-color: #1793D1;
$base-link-color-active: #299BD4;
