// Theme Colors
$color-base: #000;
$color-highlight: #1793d1;

$color-shade-darkest: #101010;
$color-shade-dark: #181818;
$color-shade-mid: #202020;
$color-shade-light: #282828;
$color-shade-lightest: #303030;

// Font Colors
$base-font-color: #00b9f2;

$base-link-color: #1793d1;
$base-link-color-active: #299bd4;
