// Theme Colors
$color-base: #000;
$color-highlight: #1793d1;

$color-shade-darkest: #000;
$color-shade-dark: #111;
$color-shade-mid: #222;
$color-shade-light: #333;
$color-shade-lightest: #444;

// Font Colors
$base-font-color: #00b9f2;

$base-link-color: #1793d1;
$base-link-color-active: #299bd4;
