#details_tab {
  .heading {
    background: darken($color-base, 5%);

    a.close_flexpane {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  hr {
    border-top-color: $color-shade-dark;
  }

  .channel_page_section {
    background: $color-base;
    border-top: 1px solid $color-shade-dark;

    .section_header {
      &:hover {
        .disclosure_triangle {
          color: $base-link-color-active;
        }
      }

      a {
        color: $base-link-color;
      }
    }

    .section_title {
      color: $base-font-color;
    }

    .disclosure_triangle {
      color: $base-link-color;
    }

    .channel_page_members_highlighter,
    .channel_page_pinned_items_highlighter {
      background: rgba($color-red, 0.25) !important;
    }
  }

  .created_by {
    color: $base-font-color;
  }

  .channel_page_member_tabs {
    .icon_member_header {
      color: $color-highlight;
    }
  }

  .pinned_item:hover {
    border-color: $color-shade-light;
  }

  .channel_page_action {
    .leave_link {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }
}

.channel_page_member_row {
  color: $base-font-color;

  a {
    color: $base-link-color;
  }

  &.away {
    color: $base-font-color;

    a {
      color: $base-link-color;
    }
  }
}

.pinned_item {
  color: $base-font-color;

  .pin_file_title {
    color: $base-link-color;
  }

  .pin_member_name a {
    color: $base-link-color !important;
  }

  .pin_metadata {
    color: $color-highlight;
  }

  .remove_pin {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  .pinned_message_text {
    .pin_truncate_fade {
      background: $color-base;
    }
  }

  &.delete_mode {
    border-color: $color-red !important;
  }
}
