#details_tab {
  .heading {
    background: darken($color-base, 5%);

    a.close_flexpane {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  hr {
    border-top-color: $color-shade-dark;
  }

  .conversation_details {
    .member_name:hover {
      color: $color-highlight;
    }

    .member_username:hover {
      color: $base-font-color;
    }

    .member_info_timezone {
      border-top-color: $color-shade-light;
    }
  }

  .channel_page_section {
    background: $color-base;
    border-top: 1px solid $color-shade-dark;

    .section_header {
      &:hover {
        .disclosure_triangle {
          color: $base-link-color-active;
        }
      }

      a {
        color: $base-link-color;
      }
    }

    .section_title {
      color: $base-font-color;
    }

    .disclosure_triangle {
      color: $base-link-color;
    }

    .channel_page_members_highlighter,
    .channel_page_pinned_items_highlighter {
      background: rgba($color-red, 0.25) !important;
    }
  }

  .created_by {
    color: $base-font-color;
  }

  .channel_page_member_tabs {
    .icon_member_header {
      color: $color-highlight;
    }
  }

  .pinned_item:hover {
    border-color: $color-shade-light;
  }

  .channel_page_action {
    .leave_link {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }
  }

  .channel_section_label .ts_icon_info_circle {
    color: $color-highlight;
  }

  .feature_sli_channel_insights {
    .channel_created_section .creator_link,
    .channel_purpose_section .channel_purpose_text {
      color: $color-highlight;
    }
  }
}

.channel_page_member_row {
  color: $base-font-color;

  a {
    color: $base-link-color;
  }

  &.away {
    color: $base-font-color;

    a {
      color: $base-link-color;
    }
  }

  &:hover {
    background-color: $color-shade-light;
    border-color: $color-shade-dark;
  }
}

.pinned_item {
  color: $base-font-color;

  .pin_file_title {
    color: $base-link-color;
  }

  .pin_member_name a {
    color: $base-link-color !important;
  }

  .pin_metadata {
    color: $color-highlight;
  }

  .remove_pin {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  .pinned_message_text {
    .pin_truncate_fade {
      background: $color-base;
    }
  }

  &.delete_mode {
    border-color: $color-red !important;
  }
}

.p-channel_insights {
  .c-member__title {
    color: $color-highlight;
  }

  &_activity_bar {
    &_container {
      &:hover {
        background-color: rgba($color-shade-darkest, 0.05);

        .p-channel_insights__activity_bar {
          background-color: $color-shade-light;
        }
      }
    }
  }

  &__activity {
    border-color: $color-shade-light;
  }

  &__activity_bar {
    background-color: rgba($color-shade-light, 0.5);
  }

  &__channel {
    .channel_link {
      color: $base-font-color;
    }
  }

  &__date_heading {
    span {
      background-color: $color-base;
      color: $base-font-color;
    }

    &::before {
      background-color: $color-shade-light;
    }
  }

  &__drawer_title {
    color: $color-highlight;
  }

  &__highlights_description {
    color: $color-highlight;
  }

  &__item--user {
    .member_preview_link,
    .message_sender {
      color: $base-font-color !important;
    }
  }

  &__member_count {
    color: $color-highlight;

    .ts_icon_user {
      color: $color-highlight;
    }
  }

  &__message {
    &--truncate {
      &::before {
        background: linear-gradient(180deg, transparent, $color-base 90%);
      }
    }

    ts-message.standalone:not(.for_mention_display):not(.for_search_display):not(.for_top_results_search_display):not(.for_star_display) {
      background-color: $color-base;
      border-color: $color-shade-light;
    }
  }

  &__section:not(.p-channel_insights__section--no_border) {
    border-color: $color-shade-light;
  }

  &__title {
    color: $base-font-color;
  }

  &__user_title {
    color: $color-highlight;
  }
}
