#mentions_options {
  background-color: $color-base;
  border-top: 1px solid $color-shade-darkest;
  color: $base-font-color;
}

#member_mentions_more_btn {
  background-color: $color-shade-lightest !important;
}

.mention_day_container_div .day_divider {
  @extend .day_divider;

  &::before {
    background: none;
    border-color: $color-shade-dark;
  }
}
