#flex_contents .subheading#mentions_options {
  background-color: $color-base;
  border-bottom-color: $color-shade-dark;
  color: $base-font-color;
}

.mention_day_container_div .day_divider {
  @extend .day_divider;

  &::before {
    background: none;
    border-color: $color-shade-dark;
  }
}

#member_mentions h3 a {
  color: $base-link-color;
}
