#member_preview_scroller a:not(.member_name),
.team_list_item a:not(.member_name) {
  color: $base-link-color;
}

#member_preview_scroller a:not(.member_name):hover {
  color: $base-link-color-active;
}

#member_preview_scroller,
#team_list {
  .member_data_table a {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  a.member_action_button {
    color: $base-link-color !important;

    &:hover {
      border-color: $color-shade-lightest !important;
      color: $base-link-color-active !important;
    }
  }
}

#member_preview_scroller,
#member_preview_web_container,
#team_list,
.menu_member_header {
  .member_data_table {
    tr {
      color: $base-font-color;
    }

    a {
      color: $base-link-color;

      &:hover {
        color: $base-link-color-active;
      }
    }

    .bot_label {
      background: $color-shade-darkest;
      color: $color-highlight;
    }
  }
}

#member_preview_scroller,
#member_preview_web_container {
  background-color: $color-shade-dark;
}

#team_tab {
  #member_preview_scroller,
  #member_preview_web_container {
    background-color: $color-base;
  }
}

#member_preview_scroller,
#member_preview_web_container,
.menu_member_header {
  .member_details {
    .member_name_and_presence .member_name {
      color: $base-font-color;
    }

    .member_title {
      color: $base-font-color;
    }

    .member_restriction,
    .member_timezone_value {
      color: $color-highlight;

      a {
        color: $base-link-color;

        &:hover {
          color: $base-link-color-active;
        }
      }

      .ts_icon_question_circle {
        &:focus,
        &:hover {
          color: $base-link-color;
        }
      }
    }
  }

  .member_details_divider {
    border-color: $color-shade-dark;
  }
}

#disabled_members_tab {
  a {
    color: $base-link-color;

    &:hover {
      background: $color-shade-mid;
      color: $base-link-color-active;
    }
  }

  &.active a {
    color: $base-link-color;
  }
}

.team_list_item {
  border-top: 1px solid $color-shade-light;
  color: $base-link-color;

  a:not(.member_name):hover {
    color: $base-link-color-active;
  }

  .member_name {
    color: $base-font-color;
  }
}

#client-ui #team_list .team_list_item,
#member_preview_scroller .team_list_item {
  &.expanded {
    border-color: $color-shade-dark;
  }

  &:hover {
    border-color: $color-shade-light;
  }
}
