#member_preview_scroller a:not(.member_name):not(.current_status_preset_option),
.team_list_item a:not(.member_name):not(.current_status_preset_option) {
  color: $base-link-color;

  &:hover {
    color: $base-link-color-active;
  }
}

#member_preview_scroller,
#team_list {
  .member_data_table a {
    color: $base-link-color;

    &:hover {
      color: $base-link-color-active;
    }
  }

  a.member_action_button {
    color: $base-link-color !important;

    &:hover {
      border-color: $color-shade-lightest !important;
      color: $base-link-color-active !important;
    }
  }
}

#member_preview_scroller,
#member_preview_web_container,
#team_list,
.menu_member_header {
  .member_data_table {
    tr {
      color: $base-font-color;
    }

    a {
      color: $base-link-color !important;

      &:hover {
        color: $base-link-color-active !important;
      }
    }

    .bot_label {
      background: $color-shade-darkest;
      color: $color-highlight;
    }
  }
}

#member_preview_scroller {
  background-color: $color-shade-dark;

  .member_data_table .current_status_cell {
    .current_status_container {
      .current_status_cover {
        &:hover {
          border-color: $color-shade-dark;
        }
      }

      &:not(.active) {
        .current_status_cover {
          &.without_status_set {
            .current_status_placeholder {
              color: rgba($base-font-color, 0.35) !important;
            }
          }
        }
      }
    }
  }
}

#team_tab #member_preview_scroller {
  background-color: $color-base;

  .member_details {
    .member_name {
      color: $base-font-color;
    }
  }
}

#member_preview_scroller,
#member_preview_web_container,
.menu_member_header {
  .member_details {
    .member_name_and_presence .member_name {
      color: $base-font-color;
    }

    .member_title {
      color: $base-font-color;
    }

    .member_restriction,
    .member_timezone_value,
    .member_current_status {
      color: $color-highlight;

      a {
        color: $base-link-color;

        &:hover {
          color: $base-link-color-active;
        }
      }

      .ts_icon_question_circle {
        &:focus,
        &:hover {
          color: $base-link-color;
        }
      }
    }
  }

  .member_details_divider {
    border-color: $color-shade-dark;
  }
}

#disabled_members_tab {
  a {
    color: $base-link-color;

    &:hover {
      background: $color-shade-mid;
      color: $base-link-color-active;
    }
  }

  &.active a {
    color: $base-link-color;
  }
}

.team_list_item {
  border-top: 1px solid $color-shade-light;
  color: $base-link-color;

  .member_name {
    color: $base-font-color;
  }
}

#client-ui .searchable_member_list,
#client-ui #team_list,
#member_preview_scroller {
  .team_list_item {
    a {
      color: $base-font-color !important;
    }

    &.expanded {
      border-color: $color-shade-dark !important;
    }

    &:hover {
      border-color: $color-shade-light !important;
    }
  }
}

#client-ui .searchable_member_list .team_list_item {
  border-bottom-color: $color-shade-darkest;

  &:hover {
    background: $color-shade-light;
  }
}

.c-unified_member__display-name,
.c-unified_member__secondary-name,
.c-unified_member__title,
.c-unified_member__other-names,
.c-unified_member__other-names {
  color: $base-font-color !important;
}
