#whats_new_tab {
  p {
    color: $base-font-color;
  }

  .flex_heading_controls label {
    color: $color-highlight;
  }
}

#whats_new_updates {
  h3 a {
    color: $base-font-color !important;
  }
}
