.mini,
.dull_grey,
.flat_grey,
.blue_link,
.charcoal_grey,
.ts_tip_tip .subtle_silver {
  color: $base-font-color !important;
}

.sky_blue,
.havana_blue,
.plastic_grey,
.indifferent_grey,
.old_petunia_grey,
.cloud_silver {
  color: $color-highlight !important;
}

.clear_blue {
  color: $base-link-color !important;
}

.candy_red_bg {
  background-color: $color-red !important;
}

.neutral_white_bg {
  background-color: $color-base !important;
}

.flexpane_grey_bg {
  background-color: $color-shade-mid !important;
}

.sky_blue_bg {
  background-color: $color-shade-light !important;
}
