.mini,
.dull_grey,
.flat_grey,
.blue_link,
.blue_fill,
.slate_blue,
.charcoal_grey,
.indifferent_grey,
.ts_tip_tip .subtle_silver {
  color: $base-font-color !important;
}

.greigh,
.sky_blue,
.severe_grey,
.havana_blue,
.burnt_violet,
.plastic_grey,
.cloud_silver,
.sk_dark_gray,
.sk_dark_grey,
.subtle_silver,
.old_petunia_grey {
  color: $color-highlight !important;
}

.clear_blue {
  color: $base-link-color !important;
}

.moscow_red,
.yolk_orange,
.mustard_yellow,
.candy_red_on_hover:hover,
.moscow_red_on_hover:hover {
  color: $color-red !important;
}

.seafoam_green {
  color: $color-green !important;
}

.candy_red_bg {
  background-color: $color-red !important;
}

.off_white_bg,
.neutral_white_bg {
  background-color: $color-shade-dark !important;
}

.yolk_orange_bg,
.burnt_violet_bg,
.flexpane_grey_bg {
  background-color: $color-shade-mid !important;
}

.sky_blue_bg,
.clear_blue_bg,
.seafoam_green_bg {
  background-color: $color-shade-light !important;
}

.sk_black {
  color: inherit;
}
