.client_header_icon {
  -moz-filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
  -webkit-filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
  filter: brightness(0.6) contrast(3) invert(1) sepia(0.5);
}
