@mixin coachmark($background) {
  background: $background;

  #coachmark_callout,
  #coachmark_interior {
    background: $background;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $base-font-color !important;
    -webkit-filter: none;
    filter: none;
    opacity: 0.5;
  }

  &::-moz-placeholder {
    color: $base-font-color !important;
    filter: none;
    opacity: 0.5;
  }

  &::placeholder {
    color: $base-font-color !important;
    filter: none;
    opacity: 0.5;
  }

  &[data-placeholder]:empty::before {
    color: $base-font-color !important;
  }
}
