// Theme Colors
$color-base: #3e313c !default;
$color-highlight: #a3839f !default;
$color-red: #bf360c !default;

$color-shade-darkest: #372c36 !default;
$color-shade-dark: #4d394b !default;
$color-shade-mid: #4a3b49 !default;
$color-shade-light: #61485e !default;
$color-shade-lightest: #876484 !default;

// Font Colors
$base-font-color: #f0d9ed !default;

$base-link-color: $color-highlight !default;
$base-link-color-active: #d4bbd1 !default;

// Grayscale Colors
$black: #000;
$white: #fff;

// Shadow Colors
$color-shadow-dark: rgba(0, 0, 0, 0.5) !default;
$color-shadow-medium: rgba(0, 0, 0, 0.25) !default;
$color-shadow-light: rgba(0, 0, 0, 0.15) !default;
$color-shadow-transparent: rgba(255, 255, 255, 0) !default;

// Font Families
$base-font-family: inherit !default;
